expand-able
  align-items center
  background var(--theme-color)
  border 2px solid var(--theme-color)
  border-radius (BUTTON_HEIGHT / 2)
  color var(--background-0)
  cursor pointer
  display flex
  font-family 'Avenir Variable', sans-serif
  font-variation-settings 'wght' 600
  font-size em(14)
  grid-area expandable
  height BUTTON_HEIGHT
  justify-content center
  line-height 1
  margin auto
  opacity 1
  padding 0 rem(24) 0 rem(14)
  transition opacity TRANSITION ease-out
  visibility var(--expandable-visibility)
  white-space nowrap
  width 'max(%s, 33vw)' % rem(140)

  &:focus
  &:active
  [no-touch] &:hover
    background transparent
    color var(--theme-color)

[no-touch] expand-able
  transition background TRANSITION ease, border TRANSITION ease, color TRANSITION ease

expand-able[hidden]
  opacity 0
  pointer-events none
  visibility hidden

expand-able::before
  css-triangle(var(--background-0), 5px, 'down')
  content ''
  display inline-block
  margin-inline-end rem(8)
  transition transform transition-slow

expand-able:focus::before
expand-able:active::before
[no-touch] expand-able:hover::before
  border-top-color var(--theme-color)

[no-touch] expand-able::before
  transition border-top-color transition ease

expand-able[aria-expanded='true']::before
  transform rotate(-180deg)

[no-js] expand-able
  display none
