expand-able
  webfont(600)
  align-items center
  background brand-color
  border 2px solid brand-color
  border-radius (button-height / 2)
  color var(--background) // [1]
  cursor pointer
  display flex
  font-size em(14)
  height button-height
  justify-content center
  line-height 1
  margin auto
  opacity 1
  padding 0 rem(12) 0 0 // [2]
  transition opacity transition ease-out
  white-space nowrap

  @media breakpoint.small
    width 33vw

  &[hidden]
    opacity 0
    pointer-events none
    visibility hidden

  &:focus
  &:active
  [no-touch] &:hover
    background transparent
    color brand-color

  [no-touch] &
    transition background transition ease, border transition ease, color transition ease

  &::before
    css-triangle(var(--background), 5px, 'down')
    content ''
    display inline-block
    margin-right rem(8)
    transition transform transition-slow

  &:focus::before
  &:active::before
  [no-touch] &:hover::before
    border-top-color brand-color

  [no-touch] &::before
    transition border-top-color transition ease

  &[aria-expanded=true]::before
    transform rotate(-180deg)

  [no-js] &
    display none
