expand-able
  align-items center
  background var(--theme-color)
  border 2px solid var(--theme-color)
  border-radius (button-height / 2)
  color var(--background-0)
  cursor pointer
  display flex
  font-family 'Avenir Variable', sans-serif
  font-variation-settings 'wght' 600
  font-size em(14)
  grid-area expandable
  height button-height
  justify-content center
  line-height 1
  margin auto
  opacity 1
  padding 0 rem(24) 0 rem(14)
  transition opacity transition ease-out
  white-space nowrap
  width 'max(%s, 33vw)' % rem(140)

  &[hidden]
    opacity 0
    pointer-events none
    visibility hidden

  // Widget isn't necessary (or useful) on large screens, so don't show it.
  @media breakpoint.large
    visibility hidden

  &:focus
  &:active
  [no-touch] &:hover
    background transparent
    color var(--theme-color)

  [no-touch] &
    transition background transition ease, border transition ease, color transition ease

  &::before
    css-triangle(var(--background-0), 5px, 'down')
    content ''
    display inline-block
    margin-right rem(8)
    transition transform transition-slow

  &:focus::before
  &:active::before
  [no-touch] &:hover::before
    border-top-color var(--theme-color)

  [no-touch] &::before
    transition border-top-color transition ease

  &[aria-expanded=true]::before
    transform rotate(-180deg)

  [no-js] &
    display none
