@use 'sass:map';
@use '../../../styles/const';

:host {
  display: grid;
  gap: clamp(#{const.$gap-min}, #{const.$gap-min} + 1vw, #{const.$gap-max});
  grid: 'values' 'drawer' minmax(auto, 1fr) / 1fr;
  margin-inline: auto;
  max-inline-size: const.$content-width-large;
  padding-block: 0 env(safe-area-inset-bottom);
  padding-inline: env(safe-area-inset-left) env(safe-area-inset-right);

  @media #{map.get(const.$breakpoint, large)} {
    gap: 0 const.$gap-max;
    grid: '. .' 3rem 'values drawer' 1fr '. .' 3rem / #{const.$values-grid-width} 1fr;
  }
}

app-values {
  grid-area: values;
}

app-drawer {
  grid-area: drawer;

  // Drawer should be hidden until it has content.
  &[aria-hidden='true'] {
    opacity: 0;
    visibility: hidden;
  }
}

app-hub {
  display: contents;
}
