doctype html
html(lang="en")
  head
    title Compount Interest Calculator
    meta(charset="utf-8")
    meta(name="description" content="Mobile-friendly standalone web app that calculates compound interest")    
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-title" content="Interest")
  body
    div.app#app
