doctype html
html(lang="en")
  head
    title Compound Interest Calculator
    meta(charset="utf-8")
    meta(name="description" content="Mobile-friendly progressive web app for calculating compound interest")    
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="theme-color" content="#00ad45")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-title" content="Interest")
    link(rel="preload" href="https://assets.gauslin.com/fonts/AvenirNext-Variable.woff2" as="font" type="font/woff2" crossorigin="crossorigin")
    link(rel="apple-touch-icon" href="/apple-touch-icon.png")
    link(rel="manifest" href="/pwa/manifest.json")
  body
