doctype html
html(lang="en")
  head
    title Compound Interest Calculator
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(href="https://assets.gauslin.com/fonts/AvenirNext-Variable.woff2" rel="preload" as="font" type="font/woff2" crossorigin="crossorigin")
  body
    div.app#app
    script(src="https://css.gauslin.com/debugger.js" data-src="/breakpoints.json")
