doctype html
html(lang="en")
  head
    title Compound Interest Calculator
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(href="https://assets.gauslin.com/fonts/AvenirNext-Variable.woff2" rel="preload" as="font" type="font/woff2" crossorigin="crossorigin")
  body
    header.header
      div.header__frame
        h1.header__title Compound Interest Calculator
    main.no-js
      noscript Please <a href="https://www.enable-javascript.com/" title="How to enable JavaScript in your browser">enable JavaScript</a> to view this app.
    footer.footer
      p.copyright
        span.copyright__years © 2018
        a.copyright__owner(href="https://gauslin.com" title="Gauslin.com") Ben Gauslin
    script(src="https://css.gauslin.com/debugger.js" data-src="/breakpoints.json")
