doctype html
html(lang="en")
  head
    title Compound Interest Calculator
    meta(charset="utf-8")
    meta(name="description" content="Mobile-friendly standalone web app that calculates compound interest")    
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-title" content="Interest")
    link(href="https://assets.gauslin.com/fonts/AvenirNext-Variable.woff2" rel="preload" as="font" type="font/woff2" crossorigin="crossorigin")
  body
    div.app#app
