@use 'sass:map';
@use 'sass:math';
@use '../../../styles/const';

button {
  align-items: center;
  background-color: transparent;
  block-size: const.$button-height;
  border: 3px solid var(--color-theme);
  border-radius: math.div(const.$button-height, 2);
  color: var(--color-theme);
  cursor: pointer;
  display: flex;
  font-family: 'Avenir Variable', sans-serif;
  font-variation-settings: 'wght' 600;
  font-size: .875em;
  justify-content: center;
  line-height: 1;
  outline: 0;
  padding-block: 0;
  padding-inline: 1.5rem;
  transition: opacity .2s ease-out;
  white-space: nowrap;

  &:focus,
  &:active {
    background-color: var(--color-theme);
    color: var(--color-surface);
  }
}

@media (any-hover: hover){
  button {
    transition: background-color .2s ease-out, color .2s ease-out;
  }

  button:hover {
    background-color: var(--color-theme);
    color: var(--color-surface);
  }
}

.drawer {
  box-sizing: border-box;
  overflow: hidden;
  transition: block-size .2s ease-out;
}

// Always hide the button and show the drawer on large screens.
// '!important' required to override inline styles set via JS.
@media #{map.get(const.$breakpoint, large)} {
  button {
    display: none;
  }

  .drawer {
    block-size: auto !important;
  }
}
