[id=menu]
  elevation(2)
  background white
  border-radius rem(4)
  color grey-dark
  display flex
  margin-top (grid-gap / 2)
  max-width 'calc(100vw - %s)' % grid-gap
  opacity 0
  position absolute
  right rem(-8)
  transition opacity transition ease-out, transform transition ease-out, visibility transition ease-out
  transform 'translateY(-%s)' % rem(12)
  visibility hidden

  @media breakpoint.medium
    margin-top 4px

  &[aria-hidden=false]
    opacity 1
    transform translateY(0)
    visibility visible

  // Menu arrow via rotated square with a drop shadow.
  &::before
    elevation(2)
    background white
    clip-path polygon(rem(-8) rem(-8), rem(-8) rem(24), rem(24) rem(-8))
    content ''
    display block
    height menu-arrow
    position absolute
    right rem(12)
    top (- menu-arrow / 2)
    transform rotate(45deg)
    width menu-arrow

    @media breakpoint.medium
      right rem(10)

  // Menu container with overflow scrolling.
  & > div
    display flex
    -webkit-overflow-scrolling touch
    overflow-x auto

  & > div::-webkit-scrollbar
    display none

  // Settings lists.
  ul
    display flex
    list-style none
    margin 0
    max-width 100%
    padding rem(16)
    width 100%

    &:not(:last-child)
      border-right 1px solid grey-lighter

  li
    margin 0

    &:not(:last-child)
      margin-right rem(12)

  // Settings options via radio buttons inside clickable <label> elements.
  label
    cursor pointer
    display block
    height menu-item-size
    outline 0
    overflow hidden
    position relative
    width menu-item-size

  [type=radio]
    position absolute

  label > span
    align-items center
    border-radius 50%
    display inline-flex
    height menu-item-size
    justify-content center
    position relative
    width menu-item-size
    z-index -1

    [no-touch] &
      transition border transition

  [type=currency] label > span
    background off-white
    border 3px solid grey-lighter
    color grey-light
    font-size em(22)

  [type=currency] input:checked + span
    background white
    color brand-color

  input:checked + span
    border-color brand-color

  label:focus > input:not(:checked) + span
  [no-touch] & label:hover > input:not(:checked) + span
    border-color grey-light
