user-settings
  position relative
  right rem(-12)
  z-index 1

user-settings > button
  border-radius 50%
  color var(--text-1-color)
  cursor pointer
  display flex
  height button-height
  opacity 1
  transition background transition, transform transition
  width button-height

  &:active
  &:focus
  [no-touch] &:hover
    background var(--background-2)

  &:active
    transform scale(.9)

  svg
    fill currentColor
    flex 0 0 rem(20)
    margin auto
    pointer-events none
