user-settings
  position relative
  z-index 1

user-settings > button
  align-items center
  color var(--text)
  cursor pointer
  display flex
  height var(--header-height)
  justify-content center
  margin 0 rem(-12) 0 0
  opacity 1
  transition opacity transition, transform transition
  width var(--header-height)

  @media breakpoint.medium
    margin-right rem(-20)

  &:focus
    transform scale(1.25)

  &:active
    transform scale(.85)

  [no-touch] &:hover
    opacity .75

  > svg
    flex 0 0 rem(20)
    pointer-events none
