user-settings
  margin-inline-end var(--margin-inline-end)
  position relative

user-settings > button
  background var(--button-background)
  border-radius 50%
  color var(--text-1-color)
  cursor pointer
  display flex
  height button-height
  opacity 1
  transition background transition, transform transition
  width button-height

  @supports (backdrop-filter backdrop-effect)
    backdrop-filter var(--button-backdrop-filter)
    background var(--button-backdrop-background)

  &:active
  &:focus
  &[aria-expanded='true']
  [no-touch] &:hover
    background var(--background-2)

  &:active
    transform scale(.9)

  svg
    fill currentColor
    flex 0 0 rem(20)
    margin auto
    pointer-events none
