@use 'sass:map';
@use '../../../styles/const';
@use '../../../styles/utils';

:host {
  display: block;
  --zebra-stripe: #{mix(black, utils.map-deep-get(const.$grays, 6, light), 3%)};

  @media (prefers-color-scheme: dark) {
    --zebra-stripe: #{mix(white, utils.map-deep-get(const.$grays, 6, dark), 3%)};
  }
}

* {
  box-sizing: border-box;
}

// Scrollable <div> wrapper for <table> element.
.table {
  overflow: auto hidden;
  scrollbar-width: none;
}

.table::-webkit-scrollbar {
  display: none;
}

// Standard <table> element.
table {
  background-color: var(--surface);
  border-collapse: collapse;
  font-size: clamp(.8125rem, .8125rem + 1vw, 1rem);
  font-variant-numeric: tabular-nums;
  inline-size: 100%;
}

// All cells are end-aligned by default since they contain numeric content.
:is(th, td) {
  line-height: 1;
  padding-block: .5em;
  padding-inline: 1em;
  text-align: end;
  white-space: nowrap;
}

// Make first column start-aligned.
:is(th, td):first-child {
  text-align: start;
}

// Table headers.
th {
  font-variation-settings: 'wght' 600;
}

// Alternating row backgrounds.
tbody > tr:nth-child(odd) {
  background-color: var(--zebra-stripe);
}

// The 'growth' and 'interest' columns require at least landscape orientation
// on small screens, so they're hidden by default.
:is(.growth, .interest) {
  display: none;
}

// Footnote after the table.
p {
  color: var(--on-surface-variant);
  font-size: .75rem;
  margin-block: 1rem 0;
  margin-inline: 1rem;
  text-align: center;  
}

p > span {
  color: var(--on-surface);
}

@media #{map.get(const.$breakpoint, 'small')} {
  .table {
    border-radius: const.$card-radius;
  }

  // Only show 'growth' and 'interest' columns when viewport is wide enough.
  :is(.growth, .interest) {
    display: table-cell;
  }

  // Hide the footnote since it isn't needed.
  p {
    display: none;
  }
}
