@use 'sass:map';
@use '../../../styles/const';
@use '../../../styles/utils';

:host {
  --layout-footnote-display: none;
  --layout-optional-columns-display: none;

  @media #{map.get(const.$breakpoint, small)} {
    --color-table-background: var(--color-surface);
    --layout-optional-columns-display: table-cell;
  }

  @media #{map.get(const.$breakpoint, small-portrait)} {
    --layout-footnote-display: block;
  }

  @media #{map.get(const.$breakpoint, medium)} {
    --layout-footnote-display: none;
  }
}

:host {
  display: block;
}

.table {
  border-radius: const.$card-border-radius; //
  overflow: auto hidden;
  scrollbar-width: none;
}

.table::-webkit-scrollbar {
  display: none;
}

table {
  background-color: var(--color-table-background, 0);
  border-collapse: collapse;
  font-size: clamp(.8125rem, .8125rem + 1vw, .9375rem);
  font-variant-numeric: tabular-nums;
  inline-size: 100%;
  // opacity: 1;
  transition: opacity .2s ease-out;
}

// table[aria-hidden='true'] {
//   opacity: 0;
// }

// All cells are end-aligned by default.
:is(th, td) {
  padding-block: .5rem;
  padding-inline: 1rem;
  text-align: end;
  white-space: nowrap;
}

// Make first column start-aligned.
:is(th, td):first-child {
  text-align: start;
}

// Table headers are bold.
th {
  font-variation-settings: 'wght' 600;
}

// The 'growth' and 'interest' columns only display when the viewport is wide
// enought.
:is(.growth, .interest) {
  display: var(--layout-optional-columns-display);
}

// Pseudo-elements for numeric values.
:is(td.balance, td.deposits, td.interest)::before,
td.growth::after {
  color: var(--color-on-surface-variant);
}

:is(td.balance, td.deposits, td.interest)::before {
  content: var(--currency);
  margin-inline-end: .25em;
}

td.growth::after {
  content: '%';
  margin-inline-start: .25em;
}

// TODO: Pseudo-elements for currency symbols.
@include utils.currency-symbols('currency');

// Alternating row backgrounds.
tbody > tr:nth-child(odd) {
  background-color: var(--color-odd-row-background);
}

// Footnotes after the table.
.rotate-screen {
  color: var(--color-on-surface-variant);
  display: var(--layout-footnote-display, block);
  font-size: .75rem;
  margin-block: 1rem;
  margin-inline: const.$gap;
}

.rotate-screen > span {
  color: var(--color-on-surface);
}
