@use 'sass:map';
@use '../../../styles/const';

:host {
  --color-row-background: #{mix(black, white, 1%)};
  --layout-cell-padding-block: .5em;
  --layout-cell-padding-inline: .75em;
  --layout-footnote-display: none;
  --layout-optional-columns-display: none;
  --type-cell: .8125rem;

  @media (prefers-color-scheme: dark) {
    --color-row-background: #{mix(white, black, 1%)};
  }

  @media #{map.get(const.$breakpoint, small)} {
    --color-table-background: var(--color-surface);
    --layout-optional-columns-display: table-cell;
  }

  @media #{map.get(const.$breakpoint, small-portrait)} {
    --layout-footnote-display: block;
  }

  @media #{map.get(const.$breakpoint, medium)} {
    --type-cell: .9375rem;
  }

  @media #{map.get(const.$breakpoint, large)} {
    --layout-cell-padding-inline: 1em;
  }
}

table {
  background-color: var(--color-table-background, 0);
  border-collapse: collapse;
  border-radius: const.$card-border-radius;
  font-size: var(--type-cell);
  font-variant-numeric: tabular-nums;
  inline-size: 100%;
  opacity: 1;
  transition: opacity .3s ease-out;
}

table[aria-hidden='true'] {
  opacity: 0;
}

// All cells are end-aligned by default.
:is(th, td) {
  padding-block: var(--layout-cell-padding-block);
  padding-inline: var(--layout-cell-padding-inline);
  text-align: end;
  white-space: nowrap;
}

// Make first column start-aligned.
:is(th, td):first-child {
  text-align: start;
}

// Table headers are bold.
th {
  font-variation-settings: 'wght' 600;
}

// The 'growth' and 'interest' columns only display when the viewport is wide
// enought.
:is(.growth, .interest) {
  display: var(--layout-optional-columns-display);
}

// Pseudo-elements for numeric values.
:is(td.balance, td.deposits, td.interest)::before,
td.growth::after {
  color: var(--color-on-surface-variant);
}

:is(td.balance, td.deposits, td.interest)::before {
  content: var(--currency);
  margin-inline-end: .25em;
}

td.growth::after {
  content: '%';
  margin-inline-start: .25em;
}

// Alternating row backgrounds.
tbody > tr:nth-child(odd) {
  background-color: var(--color-row-background);
}

// Footnotes after the table.
.rotate-screen {
  color: var(--color-on-surface-variant);
  display: var(--layout-footnote-display);
  font-size: var(--type-fineprint);
  margin-block: .75rem 0;
  margin-inline: const.$gap;
}

.rotate-screen > span {
  color: var(--color-on-surface);
}
