@use 'sass:map';
@use '../../../styles/const';

:host {
  box-sizing: border-box;
  color: var(--color-on-surface);
  display: grid;
  font-family: 'Avenir Variable', sans-serif;
  font-variation-settings: 'wght' 500;
  grid: 'values' 1fr 'drawer' / 1fr;
  margin-inline: auto;
  max-inline-size: const.$app-max-size;
  min-block-size: 100vh;

  @supports (min-block-size: 100dvh) {
    min-block-size: 100dvh;
  }

  @media #{map.get(const.$breakpoint, 'small')} {
    gap: const.$fluid-gap;
    grid: 'values' 'drawer' 1fr / 1fr;
    padding: const.$fluid-gap;
  }

  @media #{map.get(const.$breakpoint, 'medium')} {
    gap: 0 const.$fluid-gap;
    grid: 'values drawer' 1fr / #{const.$values-min-size} 1fr;
  }
}

interest-values {
  align-self: center;
  grid-area: values;

  @media #{map.get(const.$breakpoint, 'small')} {
    align-self: start;
  }

  @media #{map.get(const.$breakpoint, 'medium')} {
    inset-block: const.$fluid-gap 0;
    position: sticky;
  }
}

interest-drawer {
  grid-area: drawer;

  // Drawer should be hidden until it has content.
  &[aria-hidden='true'] {
    opacity: 0;
    visibility: hidden;
  }
}
