@use 'sass:map';
@use '../../../styles/const';

:host {
  color: var(--on-surface);
  display: grid;
  font-family: 'Avenir Variable', sans-serif;
  font-variation-settings: 'wght' 500;
  grid: 'values' 1fr 'drawer' / 1fr;
  inline-size: 100%;
  margin-inline: auto;
  max-inline-size: const.$app-max-size;
  min-block-size: 100dvh;
  padding-block: 0 env(safe-area-inset-bottom);
}

* {
  box-sizing: border-box;
}

// TODO: Screen reader a11y.
h1 {
  display: none;
}

app-values {
  align-self: center;
  grid-area: values;
}

app-drawer {
  grid-area: drawer;

  &[aria-hidden='true'] {
    opacity: 0;
    visibility: hidden;
  }
}

app-currency {
  inset-block: auto const.$button-gap;
  inset-inline: const.$fluid-gap auto;
  position: fixed;
}

@media #{map.get(const.$breakpoint, 'small')} {
  :host {
    gap: const.$fluid-gap;
    padding-block: const.$fluid-gap 0;
    padding-inline: const.$fluid-gap;
  }

  app-values {
    align-self: start;
  }
}

@media #{map.get(const.$breakpoint, 'medium')} {
  :host {
    grid: 'values drawer' 1fr 'currency drawer' / #{const.$values-min-size} 1fr;
    padding-block: const.$fluid-gap;
  }

  app-values {
    inset-block: #{const.$fluid-gap} auto;
    position: sticky;
  }

  app-drawer {
    inset-block: #{const.$fluid-gap} auto;
  }

  app-currency {
    grid-area: currency;
    position: sticky;
  }
}
