@use 'sass:map';
@use '../../../styles/const';

:host {
  display: grid;
  grid:
    'values'
    'drawer' minmax(auto, 1fr) / 1fr;
  margin-inline: auto;
  max-inline-size: const.$app-max-size;
  min-block-size: 100vh;

  @supports (min-block-size: 100dvh) {
    min-block-size: 100dvh;
  }

  @media #{map.get(const.$breakpoint, 'small')} {
    gap: const.$fluid-gap;
    padding-block: const.$fluid-gap 0;
    padding-inline: const.$fluid-gap;
  }

  @media #{map.get(const.$breakpoint, 'medium')} {
    gap: 0 const.$fluid-gap;
    grid:
      '. .' const.$gap-max
      'values drawer' 1fr
      '. .' const.$gap-max / #{const.$values-median-size} 1fr;
    padding-block: 0;
  }
}

interest-values {
  grid-area: values;
}

interest-drawer {
  grid-area: drawer;
}

// Drawer should be hidden until it has content.
interest-drawer[aria-hidden='true'] {
  opacity: 0;
  visibility: hidden;
}
