// --------------------------------------------------
// functions

px_to_em(px)
  em_units = px / 16
  return em_units * 1em

px_to_rem(px)
  rem_units = px / 16
  return rem_units * 1rem

// --------------------------------------------------
// mixins

body_font(weight = 500)
  font-family 'Avenir Medium' sans-serif // fallback
  font-weight weight

  @supports (font-variation-settings: normal) // variable
    font-family 'Avenir Variable', sans-serif
    font-variation-settings 'wght' weight

css_icon_menu(color, thickness = 3px)
  width = (thickness * 6)
  border_top = (thickness * 3)
  border_bottom = thickness
  height = thickness

  &
    align-items center
    display inline-flex

  &::before
    border-bottom border_bottom solid color
    border-top border_top double color
    content ''
    height height
    width width

css_triangle(color, size, direction)
  if direction == 'up'
    border-bottom size solid color
    border-left size solid transparent
    border-right size solid transparent
  if direction == 'down'
    border-left size solid transparent
    border-right size solid transparent
    border-top size solid color
  if direction == 'right'
    border-bottom size solid transparent
    border-left size solid color
    border-top size solid transparent
  if direction == 'left'
    border-bottom size solid transparent
    border-right size solid color
    border-top size solid transparent
  height 0
  width 0

font_weight(weight)
  font-weight weight

  @supports (font-variation-settings: normal)
    font-variation-settings 'wght' weight

font_face()
  @font-face
    font-family 'Avenir Variable'
    src url('/ui/webfonts/AvenirNext-Variable.woff2') format('woff2')
    font-weight 1 999

  @font-face
    font-family 'Avenir Medium'
    src url('/ui/webfonts/AvenirLTStd-Medium.woff2') format('woff2'),
        url('/ui/webfonts/AvenirLTStd-Medium.woff') format('woff')
    font-weight 500
