// @type String
TRANSITION_SPEED = .2s

// @type String
TRANSITION_SPEED_DRAWER = .5s

// @type Hash
ButtonDimensions = {
  HEIGHT: px_to_rem(40)
  ROW_HEIGHT: px_to_rem(96)
}

// @type Hash
CardDimensions = {
  CORNER_RADIUS: 8px
  PADDING: px_to_rem(24)
}


// @type String
HEADER_HEIGHT = px_to_rem(44)

// @type String
HEADER_HEIGHT_MEDIUM = px_to_rem(60)

// @type String
INPUT_HEIGHT = px_to_rem(32)

// @type String
INPUT_WIDTH = 5.5rem

// @type Hash
MenuDimensions = {
  CORNER_RADIUS: 4px
  ITEM_SIZE: px_to_rem(40)
  PADDING: px_to_rem(16)
}

// @type String
MENU_ARROW_SIZE = 10px

// @type hash
TableDimensions = {
  MAX_WIDTH: px_to_rem(640)
  PADDING_X: px_to_em(12)
  PADDING_X_LARGE: px_to_em(16)
  PADDING_Y: px_to_em(8)
}

// @type String
TOGGLE_ARROW_SIZE = 5px

// @type Hash
GridDimensions = {
  Base: {
    COLUMN_GAP: px_to_rem(16)
    ROW_GAP: px_to_rem(16)
  }
  Medium: {
    COLUMN_GAP: px_to_rem(24)
    ROW_GAP_MEDIUM: px_to_rem(24)
  }
}

COLUMN_GAP = px_to_rem(16)
ROW_GAP = px_to_rem(16)
COLUMN_GAP_MEDIUM = px_to_rem(24)
ROW_GAP_MEDIUM = px_to_rem(24)


// @type String
VALUES_MAX_WIDTH = px_to_rem(240)


// ----------------------------------------
// Compound dimensions
// ----------------------------------------
// @type String
VALUES_WIDTH_GRID = VALUES_MAX_WIDTH + (2 * CardDimensions.PADDING)

// @type String
CONTENT_WIDTH_MEDIUM = TableDimensions.MAX_WIDTH

// @type String
CONTENT_WIDTH_LARGE = (VALUES_MAX_WIDTH + (2 * CardDimensions.PADDING)) + TableDimensions.MAX_WIDTH + COLUMN_GAP_MEDIUM

// ----------------------------------------
// Breakpoints
// ----------------------------------------
// @type Hash
Breakpoints = {
  SMALL: 'screen and (min-width: %s)' % (px_to_rem(420))
  MEDIUM: 'screen and (min-width: %s)' % (CONTENT_WIDTH_MEDIUM + (2 * COLUMN_GAP_MEDIUM))
  LARGE: 'screen and (min-width: %s)' % (CONTENT_WIDTH_LARGE + (2 * COLUMN_GAP_MEDIUM))
}