// @type String
TRANSITION_SPEED = .2s

// @type String
TRANSITION_SPEED_DRAWER = .5s

// @type Hash
Buttons = {
  HEIGHT: px_to_rem(40)
  ROW_HEIGHT: px_to_rem(96)
}

// @type Hash
Cards = {
  CORNER_RADIUS: 8px
  PADDING: px_to_rem(24)
}

// @type Hash
Grid = {
  Base: {
    COLUMN_GAP: px_to_rem(16)
    ROW_GAP: px_to_rem(16)
  }
  Medium: {
    COLUMN_GAP: px_to_rem(24)
    ROW_GAP: px_to_rem(24)
  }
}

Header = {
  Base: {
    HEIGHT: px_to_rem(44)  
  }
  Medium: {
    HEIGHT: px_to_rem(60)
  }
}

// @type String
INPUT_HEIGHT = px_to_rem(32)

// @type String
INPUT_WIDTH = 5.5rem

// @type Hash
Menu = {
  CORNER_RADIUS: 4px
  ITEM_SIZE: px_to_rem(40)
  PADDING: px_to_rem(16)
}

// @type String
MENU_ARROW_SIZE = 10px

// @type hash
Tables = {
  MAX_WIDTH: px_to_rem(640)
  PADDING_X: px_to_em(12)
  PADDING_X_LARGE: px_to_em(16)
  PADDING_Y: px_to_em(8)
}

// @type String
TOGGLE_ARROW_SIZE = 5px





// @type String
VALUES_MAX_WIDTH = px_to_rem(240)


// ----------------------------------------
// Compound dimensions
// ----------------------------------------
// @type String
VALUES_WIDTH_GRID = VALUES_MAX_WIDTH + (2 * Cards.PADDING)

// @type String
CONTENT_WIDTH_MEDIUM = Tables.MAX_WIDTH

// @type String
CONTENT_WIDTH_LARGE = (VALUES_MAX_WIDTH + (2 * Cards.PADDING)) + Tables.MAX_WIDTH + Grid.Medium.COLUMN_GAP

// ----------------------------------------
// Breakpoints
// ----------------------------------------
// @type Hash
Breakpoints = {
  SMALL: 'screen and (min-width: %s)' % (px_to_rem(420))
  MEDIUM: 'screen and (min-width: %s)' % (CONTENT_WIDTH_MEDIUM + (2 * Grid.Medium.COLUMN_GAP))
  LARGE: 'screen and (min-width: %s)' % (CONTENT_WIDTH_LARGE + (2 * Grid.Medium.COLUMN_GAP))
}