// @type Hash
FontSizes = {
  Base: {
    HEADER: px_to_rem(16)
    INPUT: px_to_rem(20)
    MENU_ITEM: px_to_em(22)
    TABLE: px_to_rem(13)
    VALUES_TOTAL: px_to_rem(32)
  }
  Medium: {
    HEADER: px_to_rem(20)
    TABLE: px_to_rem(15)
  }
}
