// @type String
HEADER_TEXT_SIZE = px_to_rem(16)

// @type String
HEADER_TEXT_SIZE_MEDIUM = px_to_rem(20)

// @type String
INPUT_TEXT_SIZE = px_to_rem(20)

// @type String
TABLE_TEXT_SIZE = px_to_em(13)

// @type String
TABLE_TEXT_SIZE_MEDIUM = px_to_em(15)

// @type String
VALUES_TOTAL_TEXT_SIZE = px_to_em(32)