// @type Color
DARK_GREY = #222

// @type Color
GREEN = #00ad45 

// @type Color
LIGHT_GREY = #aaa

// @type Color
LIGHTER_GREY = #ddd

// @type Color
MEDIUM_GREY = #555

// @type Color
OFF_WHITE = #f7f7f7

// @type Color
WARNING = #c00

// @type Color
DARK_THEME = #282c35

// @type Color
SEPIA_THEME = #f8f2e3

// ----------------------------------------
// Color references
// ----------------------------------------
// @type Color
BRAND_COLOR = GREEN
