// @type Hash
Colors = {
  DARK_GREY: #222
  GREEN: #00ad45 
  LIGHT_GREY: #aaa
  LIGHTER_GREY: #ddd
  MEDIUM_GREY: #555
  OFF_WHITE: #f7f7f7
}

// @type Hash
ThemeColors = {
  DARK: #282c35
  SEPIA: #f8f2e3
}

// @type Color
WARNING = #c00
