@import 'functions'

// @type Hash
Theme = {
  DARK: #282c35
  SEPIA: #f8f2e3
}

// @type Hash
FontSize = {
  Base: {
    HEADER: px_to_rem(16)
    INPUT: px_to_rem(20)
    MENU_ITEM: px_to_em(22)
    TABLE: px_to_rem(13)
    VALUES_TOTAL: px_to_rem(32)
    SMALLPRINT: px_to_rem(12)
    COPYRIGHT: px_to_rem(14)
  }
  Medium: {
    HEADER: px_to_rem(20)
    TABLE: px_to_rem(15)
  }
}

// @type Hash
Elements = {
  Button: {
    HEIGHT: px_to_rem(40)
    ROW_HEIGHT: px_to_rem(96)
  }
  Input: {
    HEIGHT: px_to_rem(32)
    WIDTH: px_to_rem(88)
  }
  Menu: {
    ITEM_SIZE: px_to_rem(40)
    PADDING: px_to_rem(16)
  }
  Table: {
    PADDING_X: px_to_em(12)
    PADDING_X_LARGE: px_to_em(16)
    PADDING_Y: px_to_em(8)
  }
}

// @const String
ARROW_MENU = 10px

// @const String
ARROW_TOGGLE = 5px

// @const String
CARD_PADDING = px_to_rem(24)

// @const String
CORNER_RADIUS_CARD = px_to_rem(8)

// @const String
CORNER_RADIUS_MENU = px_to_rem(4)

// @const String
GRID_GAP = px_to_rem(16)

// @const String
GRID_GAP_MEDIUM = px_to_rem(24)

// @const String
TABLE_MAX_WIDTH = px_to_rem(640)

// @const String
VALUES_MAX_WIDTH = px_to_rem(240)

// -----------------------------------------------------------------------------
// Calculated constants and breakpoints

// @type String
VALUES_GRID_WIDTH = VALUES_MAX_WIDTH + (2 * CARD_PADDING)

// @type String
CONTENT_WIDTH_LARGE = (VALUES_MAX_WIDTH + (2 * CARD_PADDING)) + TABLE_MAX_WIDTH + GRID_GAP_MEDIUM

// @type String
BREAKPOINT_SMALL_UNITS = px_to_rem(420)

// @type Hash
Breakpoint = {
  SMALL:  'screen and (min-width: %s)' % BREAKPOINT_SMALL_UNITS
  MEDIUM: 'screen and (min-width: %s)' % (TABLE_MAX_WIDTH + (GRID_GAP_MEDIUM * 2))
  LARGE:  'screen and (min-width: %s)' % (CONTENT_WIDTH_LARGE + (GRID_GAP_MEDIUM * 2))
}
