@use 'sass:map';
@use 'sass:math';
@use '../../../styles/const';
@use '../../../styles/utils';

:host {
  display: grid;
  grid: 'drawer' 'button' 1fr;
}

button {
  appearance: none;
  align-items: center;
  background-color: var(--color-theme);
  block-size: const.$button-height;
  border: 0;
  border-radius: math.div(const.$button-height, 2);
  color: var(--color-on-theme);
  cursor: pointer;
  display: flex;
  font-family: 'Avenir Variable', sans-serif;
  font-size: .875em;
  font-variation-settings: 'wght' 600;
  grid-area: button;
  justify-content: center;
  line-height: 1;
  margin: clamp(2rem, 2rem + 1vw, 3rem);
  outline: 0;
  padding-block: 0;
  padding-inline: 1.5rem;
  place-self: end center;
  white-space: nowrap;

  &:focus,
  &:active {
    background-color: var(--color-surface);
    color: var(--color-theme);
  }
}

@media (any-hover: hover){
  button {
    transition: utils.transition(background-color, color);
  }

  button:hover {
    background-color: var(--color-surface);
    color: var(--color-theme);
  }
}

.drawer {
  box-sizing: border-box;
  grid-area: drawer;
  overflow: hidden;
  transition: utils.transition(block-size);
}

// Always hide the button and show the drawer on large screens.
// '!important' required to override inline styles set via JS.
@media #{map.get(const.$breakpoint, 'medium')} {
  button {
    display: none;
  }

  .drawer {
    block-size: auto !important;
  }
}
