@use 'sass:map';
@use '../../../styles/const';
@use '../../../styles/utils';

:host {
  display: grid;
  grid: 'drawer' 'button' 1fr;
  padding-block: o  env(safe-area-inset-bottom);
  padding-inline: env(safe-area-inset-left) env(safe-area-inset-right);
}

* {
  box-sizing: border-box;
}

:host > button {
  align-items: center;
  appearance: none;
  background-color: var(--fill-2);
  block-size: var(--button-size);
  border: var(--outline-size) solid var(--fill-2);
  border-radius: var(--button-size);
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  font-family: 'Avenir Variable', sans-serif;
  font-size: .875em;
  font-variation-settings: 'wght' 600;
  grid-area: button;
  justify-content: center;
  line-height: 1;
  margin: clamp(2rem, 2rem + 1vw, 3rem);
  outline: 0;
  padding-block: 0;
  padding-inline: 1.5rem;
  place-self: end center;
  white-space: nowrap;

  &:focus,
  &:active {
    background-color: var(--fill-3);
    border-color: var(--outline);
  }

  @media (any-hover: hover) {
    transition: utils.transition(background-color, border-color);

    &:hover {
      background-color: var(--fill-3);
      border-color: var(--fill-3);
    }
  }
}

:host > div {
  grid-area: drawer;
  overflow: hidden;
  transition: block-size .4s ease-out;
}

// [1] Always hide the button on large screens.
// [2] Always show the drawer on large screens. '!important' is required to
// override inline styles set via JS.
@media #{const.$breakpoint-medium} {
  :host > button {
    display: none; // [1] 
  }

  :host > div {
    block-size: auto !important; // [2]
  }
}
