@use 'sass:map';
@use 'sass:math';
@use '../../../styles/const';
@use '../../../styles/utils';

:host {
  background-color: var(--surface); //
  display: grid;
  grid: 'drawer' 'button' 1fr;

  @media #{map.get(const.$breakpoint, 'small')} {
    background: 0;
  }
}

* {
  box-sizing: border-box;
}

:host > button {
  align-items: center;
  appearance: none;
  background-color: var(--surface2);
  block-size: const.$button-size;
  border: const.$outline-size solid var(--surface);
  border-radius: math.div(const.$button-size, 2);
  color: var(--on-surface);
  cursor: pointer;
  display: flex;
  font-family: 'Avenir Variable', sans-serif;
  font-size: .875em;
  font-variation-settings: 'wght' 600;
  grid-area: button;
  justify-content: center;
  line-height: 1;
  margin: clamp(2rem, 2rem + 1vw, 3rem);
  outline: 0;
  padding-block: 0;
  padding-inline: 1.5rem;
  place-self: end center;
  white-space: nowrap;

  &:focus,
  &:active {
    background-color: var(--surface3);
    border-color: var(--outline);
  }

  @media (any-hover: hover) {
    transition: utils.transition(background-color);

    &:hover {
      background-color: var(--surface3);
    }
  }

  // Always hide the button on large screens.
  @media #{map.get(const.$breakpoint, 'medium')} {
    display: none;
  }
}

:host > div {
  grid-area: drawer;
  overflow: hidden;
  transition: block-size .4s ease-out;

  // Always show the drawer on large screens. '!important' required to override
  // inline styles set via JS.
  @media #{map.get(const.$breakpoint, 'medium')} {
    block-size: auto !important;
  }
}
