Currencies = {
  eur: '€'
  gbp: '£'
  inr: '₹'
  usd: '$'
  yen: '¥'
}

for name, value in Currencies
  [currency={name}]
    .values__total:not(:empty)
    td.deposits
    td.interest
    td.balance
      &::before
        content value
        margin-right em(4)

[currency] .values__total:not(:empty)::before
  color inherit

@media Breakpoint.SMALL
  .values
    background var(--background)
    border 1px solid var(--border)
