:root
  --green #00ad45
  --dark-grey #222
  --light-grey #aaa
  --lighter-grey #ddd
  --medium-grey #555
  --off-white #f7f7f7
  --warning #c00

  --site-header px_to_rem(16)
  --input px_to_rem(20)
  --menu-item px_to_em(22)
  --table px_to_rem(13)
  --total px_to_rem(32)
  --fineprint px_to_rem(12)

  --footer-height px_to_rem(48)
  --grid-gap GRID_GAP
  --header-height px_to_rem(48)
  --table-padding-x px_to_em(12)
  --table-padding-y px_to_em(8)

  --transition .3s
  --transition-slow .5s

  // Values set via JS
  --sticky-offset 0 
  --sticky-shift 0

  @media Breakpoint.MEDIUM
    --site-header px_to_rem(20)
    --fineprint px_to_rem(14)
    --table px_to_rem(15)

    --grid-gap GRID_GAP_MEDIUM
    --footer-height px_to_rem(60)
    --header-height px_to_rem(60)

  @media Breakpoint.LARGE
    --table-padding-x px_to_em(16)

  [theme=light]
    --background white
    --border mix(black, white, 15%)
    --canvas mix(black, white, 2%)
    --input black
    --input-border mix(black, white, 15%)
    --symbol rgba(black, .5)
    --text rgba(black, .8)
    --zebra-stripe mix(black, white, 3%)

  [theme=sepia]
    --background '%s' % Theme.SEPIA
    --border '%s' % mix(black, Theme.SEPIA, 15%)
    --canvas '%s' % mix(black, Theme.SEPIA, 5%)
    --input '%s' % mix(black, Theme.SEPIA, 90%)
    --input-border '%s' % mix(black, Theme.SEPIA, 30%)
    --symbol '%s' % mix(black, Theme.SEPIA, 50%)
    --text '%s' % mix(black, Theme.SEPIA, 80%)
    --zebra-stripe '%s' % mix(black, Theme.SEPIA, 4%)

  [theme=dark]
    --background '%s' % Theme.DARK
    --border mix(black, white, 75%)
    --canvas '%s' % mix(black, Theme.DARK, 25%)
    --input rgba(white, .85)
    --input-border mix(black, white, 65%)
    --symbol rgba(white, .5)
    --text rgba(white, .7)
    --zebra-stripe '%s' % mix(black, Theme.DARK, 10%)
