:root
  --site-header rem(16)
  --input rem(20)
  --menu-item em(22)
  --table rem(13)
  --total rem(32)
  --fineprint rem(12)

  --footer-height rem(48)
  --grid-gap GRID_GAP
  --header-height rem(48)
  --table-padding-x em(12)
  --table-padding-y em(8)

  // Values set via JS
  --sticky-offset 0 
  --sticky-shift 0

  @media Breakpoint.MEDIUM
    --site-header rem(20)
    --fineprint rem(14)
    --table rem(15)

    --grid-gap GRID_GAP_MEDIUM
    --footer-height rem(60)
    --header-height rem(60)

  @media Breakpoint.LARGE
    --table-padding-x em(16)

  [theme=light]
    --background white
    --border mix(black, white, 15%)
    --canvas mix(black, white, 2%)
    --input black
    --input-border mix(black, white, 15%)
    --symbol rgba(black, .5)
    --text rgba(black, .8)
    --zebra-stripe mix(black, white, 3%)

  [theme=sepia]
    --background SEPIA_THEME
    --border mix(black, SEPIA_THEME, 15%)
    --canvas mix(black, SEPIA_THEME, 5%)
    --input mix(black, SEPIA_THEME, 90%)
    --input-border mix(black, SEPIA_THEME, 30%)
    --symbol mix(black, SEPIA_THEME, 50%)
    --text mix(black, SEPIA_THEME, 80%)
    --zebra-stripe mix(black, SEPIA_THEME, 4%)

  [theme=dark]
    --background DARK_THEME
    --border mix(black, white, 75%)
    --canvas mix(black, DARK_THEME, 25%)
    --input rgba(white, .85)
    --input-border mix(black, white, 65%)
    --symbol rgba(white, .5)
    --text rgba(white, .7)
    --zebra-stripe mix(black, DARK_THEME, 10%)
