my-expandable
  align-self center
  grid-column 2
  grid-row 5
  justify-self center
  transition margin var(--transition) ease

  @media Breakpoint.MEDIUM
    display none !important // hide the button since we don't need it

my-expandable > button
  align-items center
  background var(--green)
  border 2px solid var(--green)
  border-radius (BUTTON_HEIGHT / 2)
  color white
  display inline-flex
  font-size px_to_em(14)
  height BUTTON_HEIGHT
  justify-content center
  line-height 1
  opacity 1
  padding 0 px_to_rem(12) 0 0 // adjust for toggle arrow
  transition opacity var(--transition), visibility var(--transition)
  visibility visibile
  webfont(600)
  width 50vw
  white-space nowrap

  @media Breakpoint.SMALL
    width 33vw

my-expandable > button[hidden]
  opacity 0
  visibility hidden

[no-touch] my-expandable > button
  transition border var(--transition) ease, color var(--transition) ease, opacity var(--transition) ease

my-expandable > button:focus
my-expandable > button:active
[no-touch] my-expandable > button:hover
  background 0
  color var(--green)
  cursor pointer

my-expandable > button::before
  css_triangle(white, 5px, 'down')
  content ''
  display inline-block
  margin-right px_to_rem(8)
  transition transform var(--transition-slow)

my-expandable[expanded=true] > button::before
  transform rotate(-180deg)

my-expandable > button:focus::before
my-expandable > button:active::before
[no-touch] my-expandable > button:hover::before
  border-top-color var(--green)
