.footer
  align-items center
  border-top 1px solid var(--border)
  color var(--symbol)
  display flex
  grid-column 1 / span 3
  grid-row 6
  height var(--footer-height)
  justify-content center

  @media Breakpoint.MEDIUM
    grid-row 4

  @media Breakpoint.LARGE
    grid-column 1 / span 4
    grid-row 3

.copyright
  font-size var(--fineprint)
  margin 0
  padding 0
  text-align center

.copyright__years
  margin-right px_to_em(4)

.copyright__owner
  link(var(--symbol), var(--symbol), var(--text), var(--text))
  webfont_weight(600)
  transition color var(--transition)
