.menu
  background white
  border-radius px_to_rem(4)
  color var(--dark-grey)
  elevation(2)
  margin-top (GRID_GAP / 2)
  max-width 'calc(100vw - %s)' % GRID_GAP
  opacity 0
  position absolute
  right px_to_rem(-8)
  transition opacity var(--transition) ease-out, transform var(--transition) ease-out, visibility var(--transition) ease-out
  transform 'translateY(-%s)' % px_to_rem(12)
  visibility hidden

  @media Breakpoint.MEDIUM
    margin-top -4px

.settings[open] .menu
  opacity 1
  transform translateY(0)
  visibility visible

// Menu arrow via rotated square with a shadow.
.menu::before
  background white
  clip-path polygon(px_to_rem(-8) px_to_rem(-8), px_to_rem(-8) px_to_rem(24), px_to_rem(24) px_to_rem(-8))
  content ''
  display block
  elevation(2)
  height MENU_ARROW
  position absolute
  right px_to_rem(10)
  top (- MENU_ARROW / 2)
  transform rotate(45deg)
  width MENU_ARROW

// Menu container.
.menu__content
  display flex
  -webkit-overflow-scrolling touch
  overflow-x auto
  max-width 100%
  width 100%

.menu__group
  padding px_to_rem(16)

.menu__group:not(:last-child)
  border-right 1px solid var(--medium-grey)

// Settings lists.
.menu__list
  display flex
  list-style none
  margin 0
  padding 0

.item:not(:last-child)
  margin 0 px_to_rem(12) 0 0

.item__label
  display block
  height MENU_ITEM_SIZE
  overflow hidden
  position relative
  width MENU_ITEM_SIZE

[no-touch] .item__label:hover
  cursor pointer

// Settings options.
.option
  position absolute

.option__label
  align-items center
  border-radius 50%
  display inline-flex
  height MENU_ITEM_SIZE
  justify-content center
  position relative
  width MENU_ITEM_SIZE
  z-index -1

[no-touch] .option__label
  transition border var(--transition)

// Styles for different option types.
[type=currency] .option__label
  background var(--off-white)
  border 3px solid var(--lighter-grey)
  color var(--light-grey)
  font-size var(--menu-item)

[type=currency] .option:checked + .option__label
  background white
  color var(--green)

[type=theme] .option__label
  border 3px solid var(--lighter-grey)
  color transparent

.option__label[option=light]
  background white

.option__label[option=sepia]
  background '%s' % Theme.SEPIA

.option__label[option=dark]
  background '%s' % Theme.DARK

.option:checked + .option__label
  border-color var(--green)

[no-touch] .item__label:hover .option:not(:checked) + .option__label
  border-color var(--light-grey)
