[no-js] .content
  align-self center
  grid-column 2
  grid-row 2
  grid-template-columns 1fr !important
  grid-template-rows 1fr !important
  text-align center

[no-js] .values
[no-js] .table
[no-js] .expandable
  display none