.settings
  position relative
  z-index 1

.settings__toggle
  align-items center
  color white
  cursor pointer
  display flex
  height var(--header-height)
  justify-content center
  margin 0 px_to_rem(-12) 0 0
  opacity 1
  transition opacity var(--transition), transform var(--transition)
  width var(--header-height)

  @media Breakpoint.MEDIUM
    margin-right px_to_rem(-20)

.settings__toggle:active
  transform scale(.85)

[no-touch] .settings__toggle:hover
  opacity .75

.icon--cog
  flex 0 0 px_to_rem(20)
