// Breakpoints and max-sizes via content-based min/max values.
$-gap-max: 3rem;
$-gap-min: .75rem;
$-table-max-size: 51rem;
$-table-min-size: 37rem;

$values-max-size: 34rem;
$values-min-size: 24rem;

$app-max-size: $values-min-size + $-gap-max + $-table-max-size;

$breakpoint-small: '(min-width: #{$values-max-size + ($-gap-min * 2)})';
$breakpoint-medium: '(min-width: #{$values-min-size + $-table-min-size + ($-gap-max * 3)})';
