// Dimensions.
$field-gap: .75rem;
$field-input-size: 5rem;
$input-block-size: 2rem;
$input-padding: .5rem;
$input-radius: .5rem;
$menu-spacing: .375rem;
$outline-size: .1875rem;

$-gap-max: 3rem;
$-gap-min: .75rem;

// Breakpoints via content-based min/max values.
$-table-max-size: 51rem;
$-table-min-size: 37rem;

$values-max-size: 34rem;
$values-min-size: 24rem;

$app-max-size: $values-min-size + $-gap-max + $-table-max-size;

$-small: $values-max-size + ($-gap-min * 2);
$-medium: $values-min-size + $-table-min-size + ($-gap-max * 3);

$breakpoint: (
  'small':  '(min-width: #{$-small})',
  'medium': '(min-width: #{$-medium})',
);
