@use 'sass:string';

/// Appends default duration and timing function to properties which should
/// transition.
/// @param {!List} $properties - List of properties.
/// @return {String} Updated list.
@function transition($properties...) {
  $duration: .2s;
  $timing: ease-out;
  $value: '';
  $total: length($properties);

  @each $property in $properties {
    $block: #{$property} #{$duration} #{$timing};
    $value: $value + $block;

    $index: index($properties, $property);
    @if $total > 1 and $index < $total {
      $value: $value + ', ';
    }
  }
  
  @return string.unquote($value);
}
