@use 'sass:map';
@use 'sass:string';

/// Accesses deeply nested values from a map since Sass can't do this natively.
/// @param {!Map} $map - Sass map.
/// @param {!Arglist} $keys - Sequence of nested keys.
/// @return {*} - Value of the last nested key.
@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map.get($map, $key);
  }
  @return $map;
}

/// Appends default duration and timing function to properties which should
/// transition.
/// @param {!List} $properties - List of properties.
/// @return {String} Updated list.
@function transition($properties...) {
  $duration: .2s;
  $timing: ease-out;
  $value: '';
  $total: length($properties);

  @each $property in $properties {
    $block: #{$property} #{$duration} #{$timing};
    $value: $value + $block;

    $index: index($properties, $property);
    @if $total > 1 and $index < $total {
      $value: $value + ', ';
    }
  }
  
  @return string.unquote($value);
}
