@keyframes slideInleft {
  from {
    opacity: 0;
    transform: translateX(5%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  75% {
    transform: translateY(-10%);
  }
  75%,
  100% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}
