interest-app {
  display: grid;
  gap: var(--app-gap);
  grid: var(--app-grid);
  inline-size: var(--app-inline-size, auto);
  margin-block: var(--app-margin-block);
  margin-inline: var(--app-margin-inline);
  max-inline-size: 84rem;
  place-self: var(--app-place-self);
}

.container {
  background-color: var(--app-background);
  border: var(--container-border);
  border-radius: var(--container-border-radius);
  display: grid;
  gap: 1em;
  grid: var(--header-size) auto 6em / 1fr var(--button-size);
  inset-block: var(--container-inset-block, 0);
  overflow: hidden;
  padding-block: 0 var(--gap);
  padding-inline: var(--gap);
  place-self: var(--container-place-self);
  position: var(--container-position, static);
}

h1 {
  align-self: center;
  animation: slideInleft .6s forwards;
  font-size: 1.125em;
  grid-area: 1 / 1;
  margin: 0;
  opacity: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

interest-values {
  grid-area: 2 / 1 / 2 / -1;
}

/* Make elements invisible until there are user-provided values. */
[aria-hidden='true'] {
  opacity: 0;
  visibility: hidden;
}

interest-currency {
  grid-area: 1 / 2;  
  inset-inline: auto -.625em;
  position: relative;
  place-self: center end;
  transition: opacity var(--transition);
}

.total {
  color: var(--theme-color);
  display: grid;
  font-size: 2.75em;
  grid-area: 3 / 1 / 3 / -1;
  inline-size: 100%;
  line-height: 1;
  overflow: scroll hidden;
  padding-inline: var(--gap);
  place-self: center;
  scrollbar-width: none;
  text-align: center;
  transition: opacity var(--transition);

  &::-webkit-scrollbar {
    display: none;
  }
}

/* Drawer is invisible until there's content to display in the table. */
interest-drawer {
  padding-block: env(safe-area-inset-top) env(safe-area-inset-bottom);
  padding-inline: env(safe-area-inset-left) env(safe-area-inset-right);

  &[aria-hidden='true'] {
    opacity: 0;
    visibility: hidden;
  }
}

/* Scrollable wrapper for <table> element. */
.table {
  background-color: var(--app-background);
  border: var(--table-border);
  border-radius: var(--table-border-radius, 0);
  overflow: auto hidden;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

table {
  border-collapse: collapse;
  font-size: .875em;
  font-variant-numeric: tabular-nums;
  inline-size: 100%;
}

/**
 * [1] All cells are end-aligned by default since they contain numeric content.
 * [2] First column, however, is start-aligned for readability.
 */
:is(th, td) {
  line-height: 1;
  padding-block: .5em;
  padding-inline: 1em;
  text-align: end;  /* [1] */
  white-space: nowrap;

  &:first-child {
    text-align: start;  /* [2] */
  }
}

:is(th, td)[data-optional] {
  display: var(--table-optional-display);
}

th {
  font-variation-settings: 'wght' 600;
  padding-block: 1em;
}

tbody > tr:nth-child(odd) {
  background-color: var(--zebra-stripe);
}

td.balance {
  color: var(--theme-color);
  font-variation-settings: 'wght' 600;
}

.footnote {
  color: var(--text-color-secondary);
  display: var(--footnote-display, block);
  font-size: .75rem;
  margin-block: 2rem 0;
  margin-inline: 1rem;
  text-align: center;  

  span {
    color: var(--text-color);
  }
}
