@font-face {
  font-display: swap;
  font-family: 'Avenir Variable';
  font-weight: 1 999;
  src: url('../fonts/AvenirNext-Variable.woff2') format('woff2');
}

html {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

body {
  background-color: var(--body-fill, var(--fill-0));
  color: var(--text-color);
  display: grid;
  font: var(--font);
  font-variation-settings: 'wght' 500;
  margin: 0;
  min-block-size: 100dvh;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

:not(:defined) {
  display: none;
}

noscript {
  padding: 1.5em;
  place-self: center;
  text-align: center;
}

a {
  color: var(--link-color);
  outline: none;
  text-decoration: none;

  &:visited {
    color: var(--link-color-visited);
  }
  
  &:focus-visible,
  &:active {
    color: var(--link-color-focus);
  }
  
  @media (any-hover: hover) {
    & {
      transition: color var(--transition);
    }
  
    &:hover {
      color: var(--link-color-focus);
    }
  }
}

button {
  appearance: none;
  background-color: var(--button-background);
  block-size: var(--button-size);
  border: var(--button-border);
  border-radius: var(--button-size);
  color: var(--button-color, inherit);
  cursor: pointer;
  display: grid;
  font-family: inherit;
  font-size: var(--button-font-size);
  font-variation-settings: 'wght' var(--button-font-weight);
  outline: 0;
  padding-block: 0;
  padding-inline: var(--button-padding);
  place-content: center;
  transition: transform var(--transition);
  white-space: nowrap;

  &:focus-visible {
    background-color: var(--button-background-focus);
    border-color: var(--outline);
    color: var(--button-color-focus, var(--button-color, inherit));
  }

  &.touch {
    transform: scale(.8);
  }

  @media (any-hover: hover) {
    transition: background-color var(--transition), border-color var(--transition), color var(--transition), transform var(--transition);

    &:hover {
      background-color: var(--button-background-focus);
      border-color: var(--button-background-focus);
      color: var(--button-color-focus, var(--button-color, inherit));
    }

    &:active {
      transform: scale(.8);
    }
  }
}
