@font-face {
  font-display: swap;
  font-family: 'Avenir Variable';
  font-weight: 1 999;
  src: url('https://assets.gauslin.com/fonts/AvenirNext-Variable.woff2') format('woff2');
}

html {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

body {
  background-color: var(--body-fill);
  display: grid;
  font: var(--font);
  font-variation-settings: 'wght' 500;
  margin: 0;
  min-block-size: 100dvh;
}

noscript {
  place-self: center;
}
