body {
  background: var(--background-0);
  color: var(--primary-text-color);
  display: grid;
  font-family: 'Avenir Variable', sans-serif;
  font-variation-settings: 'wght' 500;
  gap: var(--gap);
  grid: var(--grid);
  margin: 0;
  min-block-size: 100vh;
  min-block-size: -webkit-fill-available;
}
