/**
 * Reset default element styles.
 */
interest-currency {
  input {
    appearance: none;
    background: none;
    border: 0;
    color: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
  }

  /**
   * Button that opens/closes the <dialog> element.
   */
  button {
    --button-font-size: 1.5rem;
    --button-font-weight: 500;
    --button-padding: 0;

    aspect-ratio: 1;

    &[aria-expanded='true'] {
      background-color: var(--button-background-focus);
      border-color: var(--button-background-focus);
    }

    @media (any-hover: hover) {
      &[aria-expanded='true']:hover {
        background-color: var(--button-background-focus);
        border-color: var(--button-background-focus);
      }
    }
  }

  /**
   * Currency menu.
   */
  dialog {
    -webkit-backdrop-filter: var(--backdrop-filter);
    backdrop-filter: var(--backdrop-filter);
    background-color: var(--menu-background);
    block-size: 0;
    border: var(--border);
    border-radius: .5rem;
    display: block;
    margin-block: .5rem 0;
    overflow: hidden;
    padding: 0;
    transform: translateX(calc(-100% + var(--button-size)));
    transition: opacity var(--transition);

    &[open] {
      block-size: auto;
      opacity: 1;
    }

    &,
    &[data-closing] {
      opacity: 0;
    }
  }

  /**
   * List of currency options.
   */
  ul {
    list-style: none;
    margin-block: .5rem;
    padding: 0;
  }

  /**
   * Each currency option is within a <label> wrapped around a radio button with
   * <span> elements for a currency symbol and its text label.
   */
  label {
    align-items: center;
    block-size: 2.75rem;
    color: var(--text-color);
    cursor: pointer;
    display: flex;
    padding-inline: .25rem 1.5rem;

    &:focus-visible {
      background-color: var(--menu-background-focus);
    }

    &[data-checked] {
      background-color: var(--menu-background-focus);
      color: var(--theme-color);
    }

    @media (any-hover: hover) {
      transition: background-color var(--transition);

      &:hover {
        background-color: var(--menu-background-focus);
      }
    }

    /* Hide the checkbox and let the outer <label> act as the click target. */
    input {
      inline-size: 0;
    }

    /**
     * <span> elements for text content.
     */
    .symbol {
      display: inline-grid;
      font-size: 1.5rem;
      inline-size: 2.5rem;
      place-content: center;
    }

    .label {
      flex: 1;
      white-space: nowrap;
    }
  }
}
