interest-currency {
  position: relative;

  input {
    appearance: none;
    background: none;
    border: 0;
    color: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
  }

  button {
    aspect-ratio: 1;

    &[aria-expanded='true'] {
      background-color: var(--button-background-focus);
      border-color: var(--button-background-focus);
    }

    @media (any-hover: hover) {
      &[aria-expanded='true']:hover {
        background-color: var(--button-background-focus);
        border-color: var(--button-background-focus);
      }
    }
  }

  /* Currency menu. */
  dialog {
    background-color: var(--menu-background);
    block-size: 0;
    border: none;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    display: block;
    inset-block: var(--button-size) auto;
    inset-inline: auto 0;
    margin-block: .5rem 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    transform-origin: top center;
    transition: opacity var(--transition), transform var(--transition);

    &[open] {
      block-size: auto;
      opacity: 1;
      transform: scale(100%);
    }

    &,
    &[data-closing] {
      opacity: 0;
      transform: scale(90%);
    }
  }

  /* List of currency options. */
  ul {
    list-style: none;
    margin-block: .5em;
    padding: 0;
  }

  /**
   * Each currency option is within a <label> wrapped around a radio button with
   * <span> elements for a currency symbol and its text label.
   */
  label {
    align-items: center;
    block-size: 2.25em;
    color: var(--text-color);
    cursor: pointer;
    display: flex;
    font-size: .9em;
    padding-inline: .25em 1.5em;

    &:focus-visible {
      background-color: var(--menu-background-focus);
    }

    &[data-checked] {
      background-color: var(--menu-background-active);
      color: var(--theme-color);
    }

    @media (any-hover: hover) {
      transition: background-color var(--transition);

      &:hover {
        background-color: var(--menu-background-focus);
      }
    }

    /* Hide the checkbox and let the outer <label> act as the click target. */
    input {
      inline-size: 0;
    }

    .symbol {
      display: inline-grid;
      font-size: 1.5em;
      inline-size: 2em;
      place-content: center;
    }

    .label {
      flex: 1;
      white-space: nowrap;
    }
  }
}
