/**
 * Reset default element styles.
 */
interest-currency {
  input {
    appearance: none;
    background: none;
    border: 0;
    color: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
  }

  /**
   * Button that opens/closes the <dialog> element.
   */
  button {
    background-color: var(--fill-2);
    block-size: var(--button-size);
    border: var(--outline-size) solid transparent;
    border-radius: var(--button-size);
    cursor: pointer;
    display: grid;
    font-size: 1.5rem;
    inline-size: var(--button-size);
    outline: 0;
    place-items: center;
    transition: transform var(--transition);

    &:focus-visible {
      border-color: var(--outline);
    }

    &[aria-expanded='true'] {
      background-color: var(--fill-3);
    }

    &.touch {
      transform: scale(.8);
    }

    @media (any-hover: hover) {
      transition: background-color var(--transition), color var(--transition), transform var(--transition);

      &:hover,
      &[aria-expanded='true']:hover {
        background-color: var(--fill-3);
        border-color: transparent;
      }

      &:active {
        transform: scale(.8);
      }
    }
  }

  /**
   * Currency menu.
   */
  dialog {
    -webkit-backdrop-filter: var(--backdrop-filter);
    backdrop-filter: var(--backdrop-filter);
    background-color: var(--fill-2a);
    block-size: 0;
    border: var(--border);
    border-radius: .5rem;
    display: block;
    margin-block: .5rem 0;
    overflow: hidden;
    padding: 0;
    transform: translateX(calc(-100% + var(--button-size)));
    transition: opacity var(--transition);

    &[open] {
      block-size: auto;
      opacity: 1;
    }

    &,
    &[data-closing] {
      opacity: 0;
    }
  }

  /**
   * List of currency options.
   */
  ul {
    list-style: none;
    margin-block: .5rem;
    padding: 0;
  }

  /**
   * Each currency option is within a <label> wrapped around a radio button with
   * <span> elements for a currency symbol and its text label.
   */
  label {
    align-items: center;
    block-size: 2.75rem;
    color: var(--text-color);
    cursor: pointer;
    display: flex;
    padding-inline: .25rem 1.5rem;

    &:focus-visible {
      background-color: var(--fill-3a);
    }

    &[data-checked] {
      background-color: var(--fill-3a);
      color: var(--theme-color);
    }

    @media (any-hover: hover) {
      transition: background-color var(--transition);

      &:hover {
        background-color: var(--fill-3a);
      }
    }

    /* Hide the checkbox and let the outer <label> act as the click target. */
    input {
      inline-size: 0;
    }

    /**
     * <span> elements for text content.
     */
    .symbol {
      display: inline-grid;
      font-size: 1.5rem;
      inline-size: 2.5rem;
      place-content: center;
    }

    .label {
      flex: 1;
      white-space: nowrap;
    }
  }
}
