@use 'const';
@use 'utils';

@font-face {
  font-display: swap;
  font-family: 'Avenir Variable';
  font-weight: 1 999;
  src: url('https://assets.gauslin.com/fonts/AvenirNext-Variable.woff2') format('woff2');
}

@include utils.currency-symbols();

* {
  box-sizing: border-box;
}

html {
  block-size: -webkit-fill-available;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  text-size-adjust: none;
}

body {
  background-color: var(--color-surface1);
  color: var(--color-on-surface);
  display: grid;
  font-family: 'Avenir Variable', sans-serif;
  font-variation-settings: 'wght' 500;
  gap: var(--layout-body-gap);
  grid: var(--layout-body-grid);
  margin: 0;
  min-block-size: 100vh;
  min-block-size: -webkit-fill-available;
}

header {
  backdrop-filter: var(--comp-backdrop-filter);
  background-color: var(--comp-header-background);
  block-size: var(--layout-header-height);
  grid-area: header;
  inset-block: 0 auto;
  inset-inline: 0;
  padding-block: 0;
  padding-inline: env(safe-area-inset-left) env(safe-area-inset-right);
  position: fixed;
  z-index: 2;
}

header > div {
  align-items: center;
  block-size: var(--layout-header-height);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: const.$content-width-large;
  padding: var(--layout-header-padding);
}

h1 {
  font-size: var(--type-header);
  line-height: 1;
  margin: 0;
  white-space: nowrap;
}

main {
  display: grid;
  gap: var(--layout-main-gap);
  grid: var(--layout-main-grid);
  grid-area: main;
  inline-size: 100%;
  margin-block: 0;
  margin-inline: auto;
  max-inline-size: const.$content-width-large;
  padding-block: 0 env(safe-area-inset-bottom);
  padding-inline: env(safe-area-inset-left) env(safe-area-inset-right);
}


