@use 'sass:map';
@use 'const';

@font-face {
  font-display: swap;
  font-family: 'Avenir Variable';
  font-weight: 1 999;
  src: url('https://assets.gauslin.com/fonts/AvenirNext-Variable.woff2') format('woff2');
}

:root {
  --color-body-background: var(--color-surface);
  --color-error: #{const.$error-light};
  --color-on-surface: #{const.$gray6-dark};
  --color-on-surface-variant: #{const.$gray1-light};
  --color-outline: #{const.$gray4-dark};
  --color-surface: #{const.$gray6-light};
  --color-surface1: #{const.$gray5-light};
  --color-surface2: #{const.$gray4-light};
  --color-theme: #{const.$theme-light};
  --color-on-theme: #{const.$gray6-light};

  @media (prefers-color-scheme: dark) {
    --color-error: #{const.$error-dark};
    --color-on-surface: #{const.$gray5-light};
    --color-on-surface-variant: #{const.$gray1-light};
    --color-outline: #{const.$gray4-light};
    --color-surface: #{const.$gray6-dark};
    --color-surface1: #{const.$gray5-dark};
    --color-surface2: #{const.$gray4-dark};
    --color-theme: #{const.$theme-dark};
    --color-on-theme: #{const.$gray6-dark};
  }

  @media #{map.get(const.$breakpoint, 'small')} {
    --color-body-background: var(--color-surface1);
  }
}

* {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--color-body-background); // TODO: Move to app.
  margin: 0;
  min-block-size: 100vh;
  touch-action: manipulation;

  @supports (min-block-size: 100dvh) {
    min-block-size: 100dvh;
  }
}
