@use 'sass:map';
@use 'const';
@use 'utils';

@font-face {
  font-display: swap;
  font-family: 'Avenir Variable';
  font-weight: 1 999;
  src: url('https://assets.gauslin.com/fonts/AvenirNext-Variable.woff2') format('woff2');
}

:root {
  --error: #{const.$error-light};
  --on-surface: #{utils.map-deep-get(const.$grays, 6, dark)};
  --on-surface-variant: #{utils.map-deep-get(const.$grays, 1, light)};
  --outline: #{utils.map-deep-get(const.$grays, 4, dark)};
  --surface: #{utils.map-deep-get(const.$grays, 6, light)};
  --surface1: #{utils.map-deep-get(const.$grays, 5, light)};
  --surface2: #{utils.map-deep-get(const.$grays, 4, light)};
  --theme: #{const.$theme-light};
  --on-theme: #{utils.map-deep-get(const.$grays, 6, light)};

  --header-size: clamp(2.75rem, 2.75rem + 2vw, 4rem);
  --header-surface: #{rgba(utils.map-deep-get(const.$grays, 5, light), .5)};
  
  @media (prefers-color-scheme: dark) {
    --error: #{const.$error-dark};
    --on-surface: #{utils.map-deep-get(const.$grays, 5, light)};
    --on-surface-variant: #{utils.map-deep-get(const.$grays, 1, light)};
    --outline: #{utils.map-deep-get(const.$grays, 4, light)};
    --surface: #{utils.map-deep-get(const.$grays, 6, dark)};
    --surface1: #{utils.map-deep-get(const.$grays, 5, dark)};
    --surface2: #{utils.map-deep-get(const.$grays, 4, dark)};
    --theme: #{const.$theme-dark};
    --on-theme: #{utils.map-deep-get(const.$grays, 6, dark)};

    --header-surface: #{rgba(utils.map-deep-get(const.$grays, 5, dark), .5)};
  }
}

* {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
  text-size-adjust: none;
}

body {
  background-color: var(--surface1);
  margin: 0;
  min-block-size: 100vh;
  touch-action: manipulation;

  @supports (min-block-size: 100dvh) {
    min-block-size: 100dvh;
  }
}
