@mixin button {
  appearance: none;
  background-color: var(--button-background);
  block-size: var(--button-size);
  border: var(--button-border);
  border-radius: var(--button-size);
  color: var(--button-color, inherit);
  cursor: pointer;
  display: grid;
  font-family: inherit;
  font-size: var(--button-font-size);
  font-variation-settings: 'wght' var(--button-font-weight);
  outline: 0;
  padding-block: 0;
  padding-inline: var(--button-padding);
  place-content: center;
  transition: transform var(--transition);
  white-space: nowrap;

  &:focus-visible {
    background-color: var(--button-background-focus);
    border-color: var(--outline);
    color: var(--button-color-focus, var(--button-color, inherit));
  }

  &.touch {
    transform: scale(.8);
  }

  @media (any-hover: hover) {
    transition: background-color var(--transition), border-color var(--transition), color var(--transition), transform var(--transition);

    &:hover {
      background-color: var(--button-background-focus);
      border-color: var(--button-background-focus);
      color: var(--button-color-focus, var(--button-color, inherit));
    }

    &:active {
      transform: scale(.8);
    }
  }
}
