@use 'sass:map';
@use '../path/to/const';

// Collapsible outer wrapper whose box model ensures all of its children are
// hidden when collapsed.
.panel {
  block-size: auto;
  box-sizing: border-box;
  grid-area: table;
  justify-self: stretch;
  opacity: 1;
  overflow: auto hidden;
  transition: block-size .5s ease-out, opacity .5s ease-out;
}

// Always show the panel on large screens and up since the table has enough
// room, but may be collapsed via the show/hide widget. This cannot use a 
// custom property since the '!important' needs to override an inline style
// set via JS.
@media #{map.get(const.$breakpoint, large)} {
  .panel {
    block-size: auto !important;
  }
}
