interest-values {
  form {
    align-self: center;
    caret-color: inherit;
    display: grid;
    gap: 1.5rem 0;
    grid: auto-flow / 1fr;
  }

  ul {
    display: grid;
    gap: var(--values-gap);
    grid: var(--values-list-grid);
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    animation: slideInUp var(--transition) ease-in-out forwards;
    display: grid;
    gap: var(--values-gap);
    grid: 'input label' / auto 1fr;
    opacity: 0;
    place-items: center start;
  }

  @for $n from 1 through 3 {
    li:nth-child(#{$n + 1}) {
      animation-delay: #{$n * 100}ms;
    }
  }

  label {
    color: var(--text-color-secondary);
    grid-area: label;
    pointer-events: none;
    white-space: nowrap;

    &[for='rate']::before {
      content: '% ';
    }
  }

  /* Text inputs. */
  input {
    appearance: none;
    background-color: var(--input-background);
    block-size: 2em;
    border: var(--input-border);
    border-radius: .5em;
    box-sizing: content-box;
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: 1em;
    font-variation-settings: 'wght' 500;
    grid-area: input;
    inline-size: 5em;
    justify-self: end;
    line-height: 1;
    margin: 0;
    outline: 0;
    padding-inline: .5em;
    text-align: end;

    &:focus-visible {
      border-color: var(--outline);
    }

    &:invalid {
      color: var(--warning-color);
    }
  }

  /* 'Clear' button. */
  button {
    place-self: center;
  }
}
