:root {
  --body-background: var(--fill-0);

  --app-grid: auto 1fr / 1fr;
  --app-place-self: start stretch;

  --button-font-size: .875em;
  --button-font-weight: 600;
  --button-padding: 1.5em;
  --button-size: 2.75rem;

  --card-radius: 1em;
  --gap: clamp(1em, 1em + 1vw, 2em);
  --header-size: clamp(4em, 3em + 1vw, 6em);
  --outline-size: 2px;
  --table-optional-display: none;

  --font: clamp(1em, .75em + 1vw, 1.25em) / 1.4 var(--font-family);
  --font-family: 'Avenir Variable', sans-serif;

  --transition: .3s ease-out;
}

/**
 * Medium breakpoint.
 */
@media (min-width: 40rem) {
  :root {
    --body-background: var(--fill-1);

    --app-gap: var(--gap);
    --app-margin-block: var(--gap) 0;
    --app-margin-inline: var(--gap);

    --container-border: var(--border);
    --container-border-radius: var(--card-radius);

    --footnote-display: none;

    --table-border: var(--border);
    --table-border-radius: var(--card-radius);
    --table-optional-display: table-cell;

    --values-list-grid: auto-flow / 1fr 1fr;
  }
}

/**
 * Large breakpoint.
 * [1] Always show the drawer on large screens.
 * [2] Always hide the button on large screens.
 */
@media (min-width: 60rem) {
  :root {
    --app-gap: 0 var(--gap);
    --app-grid: 'values drawer' 1fr 'currency drawer' / 18em 1fr;
    --app-inline-size: calc(100% - (var(--gap) * 2));
    --app-margin-block: var(--gap);
    --app-place-self: start center;

    --container-inset-block: var(--gap) auto;
    --container-place-self: start stretch;
    --container-position: sticky;

    --drawer-block-size: auto;  /* [1] */
    --drawer-button-display: none;  /* [2] */

    --values-list-grid: auto-flow / 1fr;
  }
}

:root {
  /**
   * Grays via Apple HIG.
   * @see https://developer.apple.com/design/human-interface-guidelines/color
   */
  --gray1: rgb(142, 142, 147);
  --gray1-dark: rgb(142, 142, 147);

  --gray2: rgb(174, 174, 178);
  --gray2-dark: rgb(99, 99, 102);
  
  --gray3: rgb(199, 199, 204);
  --gray3-dark: rgb(72, 72, 74);
  
  --gray4: rgb(209, 209, 214);
  --gray4-dark: rgb(58, 58, 60);
  
  --gray5: rgb(229, 229, 234);
  --gray5-dark: rgb(44, 44, 46);
  
  --gray6: rgb(242, 242, 247);
  --gray6-dark: rgb(28, 28, 30);

  /**
   * Light mode/default theming.
   */
  --fill-alpha: .7;

  --fill-0: white;
  --fill-1: var(--gray6);
  --fill-2: var(--gray5);
  --fill-3: var(--gray4);

  --app-background: var(--fill-0);
  --border: 1px solid var(--gray5);
  --box-shadow: 0 0 4px rgba(0, 0, 0, .12),0 0 2px rgba(0, 0, 0, .25);
  --button-background: var(--fill-2);
  --button-background-focus: var(--fill-3);
  --button-border: var(--outline-size) solid var(--button-background);
  --input-background: var(--fill-1);
  --input-border: var(--outline-size) solid var(--fill-0);
  --menu-background: var(--fill-0);
  --menu-background-focus: var(--fill-2);
  --menu-background-active: var(--fill-1);
  --table-background: var(--fill-1);
  --outline: var(--theme-color);
  
  /* Link styles for <noscript> blurb. */
  --link-color: DodgerBlue;
  --link-color-focus: OrangeRed;
  --link-color-visited: RebeccaPurple;
  
  --text-color: var(--gray6-dark);
  --text-color-variant: var(--gray1);
  
  --theme-color: rgb(0, 125, 50);
  --warning-color: rgb(219, 77, 77);

  /* TODO(zebra-stripe): Use native color-mix() or similar. */
  --zebra-stripe: rgb(247.2, 247.2, 250.2);  /* White, Gray6, 40% */
}

interest-drawer {
  --button-background: var(--fill-2);
  --button-background-focus: var(--fill-3);
  --button-border: var(--outline-size) solid var(--button-background);
}

interest-currency {
  --button-background: var(--fill-1);
  --button-background-focus: var(--fill-2);
  --button-border: var(--outline-size) solid var(--button-background);
  --button-font-size: 1.5rem;
  --button-font-weight: 500;
  --button-padding: 0;
}

/**
 * Dark mode theming.
 */
@media (prefers-color-scheme: dark) {
  :root {
    --fill-0: black;
    --fill-1: var(--gray6-dark);
    --fill-2: var(--gray5-dark);
    --fill-3: var(--gray4-dark);
    --fill-4: var(--gray3-dark);
    --fill-5: var(--gray2-dark);

    --border: 1px solid var(--gray5-dark);
    --input-border: var(--outline-size) solid var(--fill-1);

    --app-background: var(--fill-1);
    --body-background: var(--fill-1);
    --button-background: var(--fill-4);
    --button-background-focus: var(--fill-5);
    --input-background: var(--fill-4);
    --menu-background: var(--fill-2);
    --menu-background-focus: var(--fill-4);
    --menu-background-active: var(--fill-3);

    /* Link styles for <noscript> blurb. */
    --link-color: CornflowerBlue;
    --link-color-focus: DarkOrange;
    --link-color-visited: MediumPurple;
    
    --text-color: var(--gray5);
    --text-color-variant: var(--gray1);

    --theme-color: rgb(40, 175, 82);
    --warning-color: rgb(230, 130, 130);

    /* TODO(zebra-stripe): Use native color-mix() or similar. */
    --zebra-stripe: rgb(39.35, 39.35, 41.25);  /* White, Gray6-Dark, 5% */
  }

  interest-currency {
    --button-background: var(--fill-4);
    --button-background-focus: var(--fill-5);
  }
}

@media (prefers-color-scheme: dark) and (min-width: 40rem) {
  :root {
    --body-background: var(--fill-0);
  }
}
