@use 'sass:map';
@use 'const';

:root {
  --color-error: #c00;
  --color-on-surface: black;
  --color-on-surface-variant: #{const.$gray1-light};
  --color-on-theme: white; //
  --color-outline: #{const.$gray4-dark};
  --color-surface: #{const.$gray6-light};
  --color-surface1: #{const.$gray5-light};
  --color-surface2: #{const.$gray4-light};
  --color-theme: #00ad45;

  @media (prefers-color-scheme: dark) {
    --color-error: #db4d4d;
    --color-on-surface: #{const.$gray5-light};
    --color-on-surface-variant: #{const.$gray1-light};
    --color-on-theme: black; //
    --color-outline: #{const.$gray4-light};
    --color-surface: #{const.$gray6-dark};
    --color-surface1: #{const.$gray5-dark};
    --color-surface2: #{const.$gray4-dark};
    --color-theme: #4dc67d;
  }
}

app-table {
  --color-odd-row-background: #{mix(black, white, 1%)};

  @media (prefers-color-scheme: dark) {
    --color-odd-row-background: #{mix(white, black, 1%)};
  }
}
