// =============================================================================
// Breakpoints via content-based min/max values.
$gap-max: 3rem;
$gap-min: .75rem;
$table-min: 37rem;
$values-max: 34rem;
$values-min: 24rem;

$breakpoint-small: '(min-width: #{$values-max + ($gap-min * 2)})';
$breakpoint-medium: '(min-width: #{$values-min + $table-min + ($gap-max * 3)})';
// =============================================================================
  
:root {
  // Layout.
  --button-size: 2.75rem;
  --card-padding: 1.5rem;
  --card-radius: 1rem;
  --outline-size: .1875rem;
  --table-optional-display: none;
  --values-max-inline-size: #{$values-max};

  // Grays via Apple HIG.
  // https://developer.apple.com/design/human-interface-guidelines/foundations/color#specifications
  --gray1: rgb(142, 142, 147);
  --gray2: rgb(174, 174, 178);
  --gray3: rgb(199, 199, 204);
  --gray4: rgb(209, 209, 214);
  --gray5: rgb(229, 229, 234);
  --gray6: rgb(242, 242, 247);

  // Theming.
  --body-fill: var(--fill-0);
  --error: rgb(219, 77, 77);
  --fill-0: white;
  --fill-1: var(--gray6);
  --fill-2: var(--gray5);
  --fill-3: var(--gray4);
  --outline: rgb(0, 122, 255);
  --text-color: rgb(28, 28, 30); // Gray6 Dark
  --text-color-variant: var(--gray1);
  --theme: rgb(0, 173, 69);
  --zebra-stripe: #{mix(black, rgb(242, 242, 247), 3%)}; // Gray6 Light

  // Transitions.
  --transition: .3s ease-out;

  @media (prefers-color-scheme: dark) {
    // Dark mode grays.
    --gray1: rgb(142, 142, 147);
    --gray2: rgb(99, 99, 102);
    --gray3: rgb(72, 72, 74);
    --gray4: rgb(58, 58, 60);
    --gray5: rgb(44, 44, 46);
    --gray6: rgb(28, 28, 30);

    // Dark mode theming.
    --error: rgb(230, 130, 130);
    --fill-0: var(--gray6);
    --fill-1: var(--gray5);
    --fill-2: var(--gray4);
    --fill-3: var(--gray3);
    --outline: rgb(10, 132, 255);
    --text-color: rgb(229, 229, 234); // Gray5 Light
    --text-color-variant: rgb(142, 142, 147); // Gray1 Light
    --theme: rgb(77, 198, 125);
    --zebra-stripe: #{mix(white, rgb(28, 28, 30), 3%)}; // Gray6 Dark
  }

  @media #{$breakpoint-small} {
    --app-grid: 1fr auto / 1fr;
    --app-gap: clamp(.75rem, .75rem + 1vw, 3rem);
    --app-padding-block: var(--app-gap) 0;
    --app-padding-inline: var(--app-gap);
    --body-fill: var(--fill-1);
    --footnote-display: none;
    --table-border-radius: var(--card-radius);
    --table-optional-display: table-cell;
    --values-border-radius: var(--card-radius);
    --values-fill: var(--fill-0);
    --values-item-even-place-self: start;
    --values-item-odd-place-self: end;
    --values-list-grid: auto-flow / 1fr 1fr;
    --values-place-self: start center;
  }

  // [1] Always show the drawer on large screens.
  // [2] Always hide the button on large screens.
  @media #{$breakpoint-medium} {
    --app-grid: 'values drawer' 1fr 'currency drawer' / #{$values-min} 1fr;
    --app-padding-block: var(--app-gap);
    --drawer-block-size: auto; // [1]
    --drawer-button-display: none; // [2]
    --drawer-margin-block: 0;
    --values-inset-block: var(--app-gap) auto;
    --values-item-even-place-self: center;
    --values-item-odd-place-self: center;
    --values-list-grid: auto-flow / 1fr;
    --values-max-inline-size: none;
    --values-position: sticky;
  }
}
