// Default light mode colors.
background-0 = #f2f2f7
background-1 = #fefffe
border-color = #c6c6c8
link-color = #0079fd
table-row-background = mix(black, white, 3%)
text-1-color = black
text-2-color = #6e6e73
theme-color = #00ad45
warning-color = #c00

// Dark mode colors.
background-0-dark = black
background-1-dark = #1c1c1e
border-color-dark = #3d3d41
link-color-dark = #0a84fe
table-row-background-dark = mix(white, black, 8%)
text-1-color-dark = #fefffe
text-2-color-dark = #8e8e93
theme-color-dark = #4dc67d
warning-color-dark = #db4d4d

// Transitions.
transition = .3s
transition-slow = .5s

// Dimensions.
breakpoint-small-units = rem(420)
button-height = rem(40)
card-corner-radius = rem(8)
card-padding = rem(24)
grid-gap = rem(16)
grid-gap-medium = rem(24)
menu-arrow = rem(16)
menu-item-size = rem(40)
table-max-width = rem(640)
values-max-width = rem(240)
values-total-size = rem(32)

// Calculated constants and breakpoints.
values-grid-width = values-max-width + (2 * card-padding)
content-width-large = (values-max-width + (2 * card-padding)) + table-max-width + grid-gap-medium

breakpoint = {
  small:  'screen and (min-width: %s)' % breakpoint-small-units
  medium: 'screen and (min-width: %s)' % (table-max-width + (grid-gap-medium * 2))
  large:  'screen and (min-width: %s)' % (content-width-large + (grid-gap-medium * 2))
}
