// Theme colors.
theme-color = #00ad45
theme-color-dark = #4dc67d

// Links and states.
link-color = #0079fd
link-color-dark = #0a84fe
warning-color = #c00
warning-color-dark = #db4d4d

// Grays palette.
// https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/color
gray-1 = rgb(142, 142, 147)
gray-2 = rgb(174, 174, 178)
gray-3 = rgb(199, 199, 204)
gray-4 = rgb(209, 209, 214)
gray-5 = rgb(229, 229, 234)
gray-6 = rgb(242, 242, 247)

gray-1-dark = rgb(142, 142, 147)
gray-2-dark = rgb(99, 99, 102)
gray-3-dark = rgb(72, 72, 74)
gray-4-dark = rgb(58, 58, 60)
gray-5-dark = rgb(44, 44, 46)
gray-6-dark = rgb(28, 28, 30)

// Default light mode colors.
background-0 = gray-6
background-1 = white
border-color = gray-4
table-row-background = mix(black, white, 3%) // TODO: Update value.
text-1-color = black
text-2-color = gray-1

// Dark mode colors.
background-0-dark = black
background-1-dark = gray-6-dark
border-color-dark = gray-4-dark
table-row-background-dark = mix(white, black, 8%) // TODO: Update value.
text-1-color-dark = gray-5
text-2-color-dark = gray-1

// Fixed header transparency.
header-alpha = .33

// Dimensions.
breakpoint-small-units = rem(420)
button-height = rem(40)
card-corner-radius = rem(8)
card-padding = rem(24)
grid-gap = rem(16)
grid-gap-medium = rem(24)
menu-arrow = rem(16)
menu-item-size = rem(40)
table-max-width = rem(640)
values-max-width = rem(240)
values-total-size = rem(32)

// Calculated constants and breakpoints.
values-grid-width = values-max-width + (2 * card-padding)
content-width-large = (values-max-width + (2 * card-padding)) + table-max-width + grid-gap-medium

breakpoint = {
  small:  'screen and (min-width: %s)' % breakpoint-small-units
  medium: 'screen and (min-width: %s)' % (table-max-width + (grid-gap-medium * 2))
  large:  'screen and (min-width: %s)' % (content-width-large + (grid-gap-medium * 2))
}

// Transitions.
transition = .3s
transition-slow = .5s
