Currencies = {
  eur: '€'
  gbp: '£'
  inr: '₹'
  usd: '$'
  yen: '¥'
}

for name, value in Currencies
  [currency={name}]
    td.balance::before
    td.deposits::before
    td.interest::before
    .total:not(:empty)::before
      content value
      margin-inline-end em(4)
