main
  display grid
  grid-area main
  grid-template:
    'values' minmax(auto, 1fr) \
    'table' auto \
    'expandable' (button-height * 3)
  margin 0 auto
  max-width content-width-large
  padding 0 env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left)
  width 100%

  @media breakpoint.small
    grid-gap var(--grid-gap)
    grid-template:
      'values' minmax(auto, 1fr) \
      'table' auto \
      'expandable' (button-height * 3) \
      '.' 0

  @media breakpoint.large
    grid-template:
      'values table' 1fr \
      'expandable expandable' auto \
      '. .' 0 / values-grid-width 1fr

[no-js] main
  align-self center
  grid-template 1fr / 1fr !important
  text-align center
