main
  display grid
  gap var(--gap)
  grid var(--grid)
  grid-area main
  margin 0 auto
  max-width CONTENT_WIDTH_LARGE
  padding-block 0 env(safe-area-inset-bottom)
  padding-inline env(safe-area-inset-left) env(safe-area-inset-right) 
  width 100%

[no-js] main
  align-self center
