// Collapsible outer wrapper whose box model ensures all of its children are
// hidden when collapsed.
.panel
  box-sizing border-box
  grid-area table
  height auto
  justify-self stretch
  opacity 1
  overflow-x auto
  overflow-y hidden
  transition height transition-slow ease-out, opacity transition-slow ease-out

  // Always display the panel on large screens and up.
  @media breakpoint.large
    height auto !important 
  
  &[hidden]
  [no-js] &
    display none
