// Outer wrapper for a table that makes its overflowing content scrollable.
.table-frame
  border var(--frame-border)
  border-radius var(--frame-border-radius)
  overflow-x auto

// Table styles for first/last cells and alternating rows.
table
  background var(--table-background)
  font-variant-numeric tabular-nums // Align commas and decimal points across cells.

th
td
  padding-block var(--table-padding-y)
  padding-inline var(--table-padding-x)

th:first-child
td:first-child
  text-align start
  padding-inline var(--first-item-padding-x-start) var(--table-padding-x)

th:last-child
td:last-child
.balance
  padding-inline var(--table-padding-x) var(--last-item-padding-x-end)

thead > tr
  border-bottom var(--thead-border-bottom)

tbody > tr:nth-child(odd)
  background var(--table-row-background, TABLE_ROW_BACKGROUND)

// Table classnames.
td.growth::after
td.deposits::before
td.interest::before
td.balance::before
  color var(--secondary-text-color)

td.growth::after
  content '%'
  margin-inline-start em(4)

// Footnotes after the table.
.growth
.interest
  display var(--optional-items-display)

.rotate-screen
  color var(--secondary-text-color)
  display var(--footnote-display)
  font-size var(--fineprint-font-size)
  margin rem(12) GAP 0

.rotate-screen > span
  color var(--primary-text-color)
