// Outer wrapper for a table that makes its overflowing content scrollable.
.table-frame
  border-bottom 1px solid var(--card-border-color, border-color)
  overflow-x auto

  @media breakpoint.small
    border 1px solid var(--card-border-color, border-color)
    border-radius card-corner-radius

// Table styles for first/last cells and alternating rows.
table
  font-variant-numeric tabular-nums // Align commas and decimal points across cells.

  @media breakpoint.small
    background var(--background-1)

th
td
  padding var(--table-padding-y) var(--table-padding-x)

  &:first-child
    text-align left
    padding-left grid-gap

    @media breakpoint.small
      padding-left var(--table-padding-x)

  &:last-child
    padding-right grid-gap

    @media breakpoint.small
      padding-right var(--table-padding-x)

  &.balance
    padding-right grid-gap

    @media breakpoint.small
      padding-right var(--table-padding-x)

thead > tr
  border-bottom 1px solid var(--card-border-color, border-color)

tbody > tr:nth-child(odd)
  background var(--table-row-background, table-row-background)

// Table classnames.
.year
  padding-right 0

.growth
.interest
  display none

  @media breakpoint.small
    display table-cell

td.growth::after
td.deposits::before
td.interest::before
td.balance::before
  color var(--text-2-color)

td.growth::after
  content '%'
  margin-left em(4)

// Footnotes after the table.
.rotate-screen
  color var(--text-2-color)
  display none
  font-size var(--fineprint-font-size)
  margin rem(12) grid-gap 0

  @media screen and (max-width breakpoint-small-units) and (orientation portrait)
    display block

.rotate-screen > span
  color var(--text-1-color)
