:root
  // Typography.
  --fineprint-font-size rem(12)
  --header-font-size rem(16)
  --input-font-size rem(20)
  --table-font-size rem(13)

  // Layout.
  --grid-gap grid-gap
  --header-height rem(48)
  --table-padding-x em(12)
  --table-padding-y em(8)

  @media breakpoint.medium
    --fineprint-font-size rem(14)
    --header-font-size rem(20)
    --table-font-size rem(15)
    --grid-gap grid-gap-medium
    --header-height rem(60)

  @media breakpoint.large
    --table-padding-x em(16)

  // Default/light mode.
  --background-0 background-0
  --background-1 background-1
  --header-background rgba(background-0, .33)
  --text-2-color text-2-color
  --theme-color theme-color
  --warning-color warning-color

  // Dark mode.
  @media (prefers-color-scheme dark)
    --background-0 background-0-dark
    --background-1 background-1-dark
    --card-border-color transparent
    --header-background rgba(background-0-dark, .33)
    --input-border-color text-2-color
    --menu-box-shadow 0 0 0 1px border-color-dark
    --table-row-background table-row-background-dark
    --text-1-color text-1-color-dark
    --text-2-color text-2-color-dark
    --theme-color theme-color-dark
    --warning-color warning-color-dark
