:host {
  background-color: var(--values-fill);
  border-radius: var(--values-border-radius);
  display: grid;
  grid: 'widget' 4rem 'values' 'total' 6rem / 1fr;
  inline-size: 100%;
  margin-inline: env(safe-area-inset-left) env(safe-area-inset-right);
  max-inline-size: var(--values-max-inline-size);
}

* {
  box-sizing: border-box;
}

:is(form, ul, li, .total) {
  display: grid;
}

:is(ul, li) {
  gap: .75rem;
}

:is(form, ul) {
  grid: auto-flow / 1fr;
}

form {
  align-self: center;
  gap: 2rem 0;
  grid-area: values;
  padding-inline: var(--card-padding);
}

[role='list'] {
  grid: var(--values-list-grid);
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  align-items: center;
  grid: 'input label' / 1fr 1fr;

  &:nth-child(odd) {
    place-self: var(--values-item-odd-place-self);
  }

  &:nth-child(even) {
    place-self: var(--values-item-even-place-self);
  }
}

label {
  grid-area: label;
  line-height: 1;
  min-inline-size: 8rem;
  opacity: .8;
  pointer-events: none;
  white-space: nowrap;
}

label[for='rate']::before {
  content: '% ';
}

input {
  appearance: none;
  background-color: var(--fill-2);
  block-size: 2rem;
  border: var(--outline-size) solid var(--fill-0);
  border-radius: .5rem;
  box-sizing: content-box;
  color: var(--text-color);
  font-family: 'Avenir Variable', sans-serif;
  font-size: 1em;
  font-variation-settings: 'wght' 500;
  grid-area: input;
  inline-size: 5rem;
  justify-self: end;
  line-height: 1;
  margin: 0;
  outline: 0;
  padding-inline: .5rem;
  text-align: end;

  &:focus {
    border-color: var(--outline);
  }

  &:invalid {
    color: var(--error);
  }
}

.total {
  color: var(--theme);
  font-size: 2.75rem;
  grid-area: total;
  line-height: 1;
  max-inline-size: 100%;
  overflow: scroll hidden;
  padding-inline: var(--card-padding);
  place-self: center;
  scrollbar-width: none;
  text-align: center;
  transition: opacity var(--transition);

  &::-webkit-scrollbar {
    display: none;
  }
}

[aria-hidden='true'] {
  opacity: 0;
  visibility: hidden;
}

app-currency {
  grid-area: widget;
  margin-inline: auto .75rem;
  place-self: center end;
  transition: opacity var(--transition);
}
