.app
  display grid
  grid-template-columns '%s auto %s' % (Grid.Base.COLUMN_GAP Grid.Base.COLUMN_GAP)
  grid-template-rows '%s %s 1fr auto %s' % (Header.Base.HEIGHT COLUMN_GAP Buttons.ROW_HEIGHT)
  min-height 100vh

  @media Breakpoints.SMALL
    grid-template-rows '%s %s auto auto %s' % (Header.Base.HEIGHT COLUMN_GAP Buttons.ROW_HEIGHT)

  @media Breakpoints.MEDIUM
    grid-row-gap '%s' % Grid.Base.ROW_GAP
    grid-template-columns '%s auto %s' % (Grid.Medium.COLUMN_GAP Grid.Medium.COLUMN_GAP)
    grid-template-rows '%s auto 1fr 0' % Header.Medium.HEIGHT

  @media Breakpoints.LARGE
    grid-column-gap '%s' % Grid.Medium.COLUMN_GAP
    grid-row-gap '%s' % Grid.Medium.ROW_GAP
    grid-template-columns '1fr %s %s 1fr' % (VALUES_WIDTH_GRID Tables.MAX_WIDTH)
    grid-template-rows '%s auto 0' % Header.Medium.HEIGHT
