.header
  background GREEN
  color white
  height '%s' % Header.Base.HEIGHT
  left 0
  position fixed
  right 0
  transform translate3d(0, 0, 0)
  transition transform TRANSITION_SPEED ease
  top 0
  z-index 1

  @media Breakpoints.MEDIUM
    height '%s' % Header.Medium.HEIGHT

.header.unpinned
  transform translate3d(0, -100%, 0)

.header__frame
  align-items center
  display flex
  height '%s' % Header.Base.HEIGHT
  justify-content space-between
  margin 0 auto
  padding '0 %s' % Grid.Base.COLUMN_GAP

  @media Breakpoints.MEDIUM
    height '%s' % Header.Medium.HEIGHT
    padding '0 %s' % Grid.Medium.COLUMN_GAP

  @media Breakpoints.LARGE
    max-width CONTENT_WIDTH_LARGE
    padding 0

.header__title
  font-size '%s' % FontSizes.Base.HEADER
  font_weight(600)
  line-height 1
  margin 0
  white-space nowrap

  @media Breakpoints.MEDIUM
    font-size '%s' % FontSizes.Medium.HEADER
