font_face()

html
body
  body_font()
  margin 0
  padding 0
  -webkit-tap-highlight-color transparent
  text-size-adjust none

*
  box-sizing border-box

a
  text-decoration none

input[type=number]
  &::-webkit-inner-spin-button
  &::-webkit-outer-spin-button
    appearance none
    margin 0

input:focus
button:focus
  outline none

table
  border-collapse collapse
  font-size '%s' % FontSize.Base.TABLE
  width 100%

  @media Breakpoint.MEDIUM
    font-size '%s' % FontSize.Medium.TABLE

th
td
  text-align right
  white-space nowrap

th
  font_weight(600)
