:root
  --color-green #00ad45
  --color-grey-dark #222
  --color-grey-light #aaa
  --color-grey-lighter #ddd
  --color-grey-medium #555
  --color-off-white #f7f7f7
  --color-warning #c00

  --grid-gap GRID_GAP

  --transition .3s
  --transition-slow .5s

  @media Breakpoint.medium
    --grid-gap GRID_GAP_MEDIUM

  [data-theme=light]
    --background white
    --border mix(black, white, 15%)
    --canvas mix(black, white, 2%)
    --input black
    --input-border mix(black, white, 15%)
    --symbol rgba(black, .5)
    --text rgba(black, .8)
    --zebra-stripe mix(black, white, 3%)

  [data-theme=sepia]
    --background '%s' % Theme.SEPIA
    --border '%s' % mix(black, Theme.SEPIA, 15%)
    --canvas '%s' % mix(black, Theme.SEPIA, 5%)
    --input '%s' % mix(black, Theme.SEPIA, 90%)
    --input-border '%s' % mix(black, Theme.SEPIA, 30%)
    --symbol '%s' % mix(black, Theme.SEPIA, 50%)
    --text '%s' % mix(black, Theme.SEPIA, 80%)
    --zebra-stripe '%s' % mix(black, Theme.SEPIA, 4%)

  [data-theme=dark]
    --background '%s' % Theme.DARK
    --border mix(black, white, 75%)
    --canvas '%s' % mix(black, Theme.DARK, 25%)
    --input rgba(white, .85)
    --input-border mix(black, white, 65%)
    --symbol rgba(white, .5)
    --text rgba(white, .7)
    --zebra-stripe '%s' % mix(black, Theme.DARK, 10%)
