.settings
  position relative
  z-index 1

.settings__toggle
  appearance none
  background 0
  border 0
  css_icon_menu(white)
  cursor pointer
  display none
  height '%s' % Header.Base.HEIGHT
  justify-content center
  margin 0 px_to_rem(-12) 0 0
  opacity 1
  transition opacity TRANSITION_SPEED,
             transform TRANSITION_SPEED
  width '%s' % Header.Base.HEIGHT

  &:active
    transform scale(.85)

  &:checked
    opacity .75

  @media Breakpoints.MEDIUM
    height '%s' % Header.Medium.HEIGHT
    margin-right px_to_rem(-20)
    width '%s' % Header.Medium.HEIGHT

[no-touch] .settings__toggle:hover
  opacity .75
