.table
  box-sizing border-box
  grid-column 1 / 4
  grid-row 4 / span 1
  height auto
  justify-self stretch
  margin 0
  opacity 1
  overflow-x auto
  overflow-y hidden
  text-align center
  transition height TRANSITION_SPEED_DRAWER ease-out,
             opacity TRANSITION_SPEED ease-out

  @media Breakpoints.SMALL
    grid-column 2 / span 1

  @media Breakpoints.MEDIUM
    grid-row 3 / span 1
    height auto !important // always display table
    opacity 1

  @media Breakpoints.LARGE
    grid-column 3 / 4
    grid-row 2 / span 1
    justify-self stretch
    padding 0

.table[data-hidden]
  display none

.table[data-expanded]
  @media Breakpoints.SMALL
    margin-top px_to_rem(16)

  @media Breakpoints.MEDIUM
    margin-top 0

.table__frame
  overflow-x auto

  @media Breakpoints.SMALL
    border-radius CARD_CORNER_RADIUS

th
td
  padding TABLE_PADDING_Y TABLE_PADDING_X

  @media Breakpoints.LARGE
    padding TABLE_PADDING_Y TABLE_PADDING_X_LARGE

  &:first-child
    text-align left
    padding-left COLUMN_GAP

    @media Breakpoints.SMALL
      padding-left TABLE_PADDING_X

  &:last-child
    padding-right COLUMN_GAP

    @media Breakpoints.SMALL
      padding-right TABLE_PADDING_X

  &.balance
    padding-right COLUMN_GAP

    @media Breakpoints.SMALL
      padding-right TABLE_PADDING_X

td.growth::after
  content '%'
  margin-left px_to_em(4)

.year
  padding-right 0

.growth
.interest
  display none

  @media Breakpoints.SMALL
    display table-cell

.rotate-screen
  display none
  font-size px_to_rem(12)
  margin px_to_rem(12) COLUMN_GAP 0

  @media screen and (max-width: Breakpoints.SMALL_UNITS) and (orientation: portrait)
    display block
