.toggle
  align-self center
  grid-column 2 / 3
  grid-row 5 / span 1
  justify-self center
  transition margin TRANSITION_SPEED ease

  @media Breakpoints.MEDIUM
    display none !important // hide the button since we don't need it

.toggle__button
  align-items center
  appearance none
  background GREEN
  body_font()
  border 2px solid GREEN
  border-radius (BUTTON_HEIGHT / 2)
  color white
  display inline-flex
  font-size px_to_em(14)
  font_weight(600)
  height BUTTON_HEIGHT
  justify-content center
  line-height 1
  opacity 1
  padding 0 px_to_rem(12) 0 0 // adjust for toggle arrow
  transition opacity TRANSITION_SPEED,
             visibility TRANSITION_SPEED
  visibility visibile
  width 50vw
  white-space nowrap

  @media Breakpoints.SMALL
    width 33vw

.toggle__button[data-hidden]
  opacity 0
  visibility hidden

[no-touch] .toggle__button
  transition border TRANSITION_SPEED ease,
             color TRANSITION_SPEED ease,
             opacity TRANSITION_SPEED ease

.toggle__button:focus
.toggle__button:active
[no-touch] .toggle__button:hover
  background 0
  color GREEN
  cursor pointer

.toggle__button::before
  css_triangle(white, TOGGLE_ARROW_SIZE, 'down')
  content ''
  display inline-block
  margin-right px_to_rem(8)
  transition transform TRANSITION_SPEED_DRAWER

.toggle__button[data-target="visible"]::before
  transform rotate(-180deg)

.toggle__button:focus::before
.toggle__button:active::before
[no-touch] .toggle__button:hover::before
  border-top-color GREEN
