.app
  display grid
  grid-template-columns '%s %s %s' % (Grid.Base.COLUMN_GAP auto Grid.Base.COLUMN_GAP)
  grid-template-rows '%s %s %s %s %s' % (Header.Base.HEIGHT Grid.Base.COLUMN_GAP 1fr auto Buttons.ROW_HEIGHT)
  min-height 100vh

  @media Breakpoints.SMALL
    grid-template-rows '%s %s %s %s %s' % (Header.Base.HEIGHT Grid.Base.COLUMN_GAP auto auto Buttons.ROW_HEIGHT)

  @media Breakpoints.MEDIUM
    grid-row-gap '%s' % Grid.Base.ROW_GAP
    grid-template-columns '%s %s %s' % (Grid.Medium.COLUMN_GAP auto Grid.Medium.COLUMN_GAP)
    grid-template-rows '%s %s %s %s' % (Header.Medium.HEIGHT auto 1fr 0)

  @media Breakpoints.LARGE
    grid-column-gap '%s' % Grid.Medium.COLUMN_GAP
    grid-row-gap '%s' % Grid.Medium.ROW_GAP
    grid-template-columns '%s %s %s %s' % (1fr VALUES_GRID_WIDTH Tables.MAX_WIDTH 1fr)
    grid-template-rows '%s %s %s' % (Header.Medium.HEIGHT auto 0)
