.app
  display grid
  grid-template-columns var(--grid-gap) auto var(--grid-gap)
  grid-template-rows '%s var(--grid-gap) 1fr auto %s auto' % (Elements.Header.HEIGHT.Base Elements.Button.ROW_HEIGHT)
  min-height 100vh // fallback
  min-height calc(var(--viewport-unit, 1vh) * 100)

  @media Breakpoint.MEDIUM
    grid-row-gap var(--grid-gap)
    grid-template-columns var(--grid-gap) auto var(--grid-gap)
    grid-template-rows '%s auto 1fr auto' % Elements.Header.HEIGHT.Medium

  @media Breakpoint.LARGE
    grid-gap var(--grid-gap)
    grid-template-columns '1fr %s %s 1fr' % (VALUES_GRID_WIDTH Elements.Table.MAX_WIDTH)
    grid-template-rows '%s 1fr auto' % Elements.Header.HEIGHT.Medium
