Currencies = {
  eur: '€'
  gbp: '£'
  inr: '₹'
  usd: '$'
  yen: '¥'
}

for name, value in Currencies
  [data-currency=\"{name}\"]
    .values__total:not(:empty)
    td.deposits
    td.interest
    td.balance
      &::before
        content value
        margin-right px_to_em(4)

[data-currency] .values__total:not(:empty)::before
  color inherit
