.header
  background '%s' % Colors.GREEN
  color white
  height '%s' % Elements.Header.HEIGHT.Base
  left 0
  position fixed
  right 0
  transform translate3d(0, 0, 0)
  transition '%s %s %s' % (transform Transitions.DEFAULT ease)
  top 0
  z-index 1

  @media Breakpoints.MEDIUM
    height '%s' % Elements.Header.HEIGHT.Medium

.header.unpinned
  transform translate3d(0, -100%, 0)

.header__frame
  align-items center
  display flex
  height '%s' % Elements.Header.HEIGHT.Base
  justify-content space-between
  margin 0 auto
  padding '%s %s' % (0 Grid.Base.COLUMN_GAP)

  @media Breakpoints.MEDIUM
    height '%s' % Elements.Header.HEIGHT.Medium
    padding '%s %s' % (0 Grid.Medium.COLUMN_GAP)

  @media Breakpoints.LARGE
    max-width CONTENT_WIDTH_LARGE
    padding 0

.header__title
  font-size '%s' % FontSizes.Base.HEADER
  font_weight(600)
  line-height 1
  margin 0
  white-space nowrap

  @media Breakpoints.MEDIUM
    font-size '%s' % FontSizes.Medium.HEADER
