.header
  background var(--color-green)
  color white
  height '%s' % Elements.Header.HEIGHT.Base
  left 0
  position fixed
  right 0
  top 0
  z-index 1

  @media Breakpoint.MEDIUM
    height '%s' % Elements.Header.HEIGHT.Medium

.header__frame
  align-items center
  display flex
  height '%s' % Elements.Header.HEIGHT.Base
  justify-content space-between
  margin 0 auto
  padding 0 var(--grid-gap)

  @media Breakpoint.MEDIUM
    height '%s' % Elements.Header.HEIGHT.Medium

  @media Breakpoint.LARGE
    max-width CONTENT_WIDTH_LARGE
    padding 0

.header__title
  font-size '%s' % FontSize.Base.HEADER
  font_weight(600)
  line-height 1
  margin 0
  white-space nowrap

  @media Breakpoint.MEDIUM
    font-size '%s' % FontSize.Medium.HEADER
