.header
  background var(--color-green)
  color white
  height var(--header-height)
  left 0
  position fixed
  right 0
  top 0
  z-index 1

.header__frame
  align-items center
  display flex
  height var(--header-height)
  justify-content space-between
  margin 0 auto
  padding 0 var(--grid-gap)

  @media Breakpoint.LARGE
    max-width CONTENT_WIDTH_LARGE
    padding 0

.header__title
  font-size var(--font-size-header)
  font_weight(600)
  line-height 1
  margin 0
  white-space nowrap
