.mask
  background rgba(black, .8)
  bottom 0
  left 0
  opacity 1
  position fixed
  right 0
  top 0
  transition 'opacity %s, visibility %s' % (Transition.DEFAULT Transition.DEFAULT)
  visibility visible

.mask[inactive]
  opacity 0
  visibility hidden
