.menu
  background white
  border-radius '%s' % Menu.CORNER_RADIUS
  color '%s' % Colors.DARK_GREY
  margin-top '%s' % (Grid.Base.COLUMN_GAP / 2)
  max-width 'calc(100vw - %s)' % Grid.Base.COLUMN_GAP
  opacity 0
  position absolute
  right px_to_rem(-8)
  transition '%s %s %s, %s %s %s, %s %s %s' % (opacity Transitions.DEFAULT ease-out transform Transitions.DEFAULT ease-out visibility Transitions.DEFAULT ease-out)
  transform 'translateY(-%s)' % px_to_rem(12)
  visibility hidden
  z-index -1

  @media Breakpoints.MEDIUM
    margin-top -4px

.settings__toggle:checked + .menu
  opacity 1
  transform translateY(0)
  visibility visible

// Menu arrow.
.menu::before
  content ''
  css_triangle(white, ArrowSizes.MENU, 'up')
  position absolute
  right 8px
  top '-%s' % ArrowSizes.MENU

// Menu container.
.menu__content
  display flex
  -webkit-overflow-scrolling touch
  overflow-x auto
  max-width 100%
  width 100%

.menu__group
  padding '%s' % Menu.PADDING

.menu__group:not(:last-child)
  border-right 1px solid '%' % Colors.MEDIUM_GREY

// Settings lists.
.menu__list
  display flex
  list-style none
  margin 0
  padding 0

.item:not(:last-child)
  margin 0 px_to_rem(12) 0 0

.item__label
  display block
  height '%s' % Menu.ITEM_SIZE
  overflow hidden
  position relative
  width '%s' % Menu.ITEM_SIZE

[no-touch] .item__label:hover
  cursor pointer

// Settings options.
.option
  position absolute
  top -20px

.option__label
  align-items center
  border-radius 50%
  display inline-flex
  height '%s' % Menu.ITEM_SIZE
  justify-content center
  position relative
  width '%s' % Menu.ITEM_SIZE
  z-index -1

[no-touch] .option__label
  transition '%s %s' % (border Transitions.DEFAULT)

// Styles for different option types.
[data-type="currency"] .option__label
  background '%s' % Colors.OFF_white
  border 3px solid '%' % Colors.LIGHTER_GREY
  color '%s' % Colors.LIGHT_GREY
  font-size '%s' % FontSizes.Base.MENU_ITEM

[data-type="currency"] .option:checked + .option__label
  background white
  color '%s' % Colors.GREEN

[data-type="theme"] .option__label
  border 3px solid '%s' % Colors.LIGHTER_GREY
  color transparent

.option__label[data-option="light"]
  background white

.option__label[data-option="sepia"]
  background '%s' % ThemeColors.SEPIA

.option__label[data-option="dark"]
  background '%s' % ThemeColors.DARK

.option:checked + .option__label
  border-color '%s' % Colors.GREEN

[no-touch] .item__label:hover .option:not(:checked) + .option__label
  border-color '%s' % Colors.LIGHT_GREY
