.settings
  position relative
  z-index 1

.settings__toggle
  appearance none
  background 0
  border 0
  css_icon_menu(white)
  cursor pointer
  display none
  height '%s' % Elements.Header.HEIGHT.Base
  justify-content center
  margin 0 px_to_rem(-12) 0 0
  opacity 1
  transition opacity var(--transition), transform var(--transition)
  width '%s' % Elements.Header.HEIGHT.Base

  &:active
    transform scale(.85)

  &:checked
    opacity .75

  @media Breakpoint.MEDIUM
    height '%s' % Elements.Header.HEIGHT.Medium
    margin-right px_to_rem(-20)
    width '%s' % Elements.Header.HEIGHT.Medium

[no-touch] .settings__toggle:hover
  opacity .75
