.table
  box-sizing border-box
  grid-column 1 / span 4
  grid-row 4
  height auto
  justify-self stretch
  margin 0
  opacity 1
  overflow-x auto
  overflow-y hidden
  text-align center
  transition 'height %s ease-out, opacity %s ease-out' % (Transition.DRAWER Transition.DEFAULT)

  @media Breakpoint.SMALL
    grid-column 2

  @media Breakpoint.MEDIUM
    grid-row 3
    height auto !important // always display table
    opacity 1

  @media Breakpoint.LARGE
    grid-column 3
    grid-row 2
    justify-self stretch
    padding 0

.table[data-hidden]
  display none

.table[data-expanded]
  @media Breakpoint.SMALL
    margin-top px_to_rem(16)

  @media Breakpoint.MEDIUM
    margin-top 0

.table__frame
  border-bottom 1px solid var(--border)
  overflow-x auto

  @media Breakpoint.SMALL
    border 1px solid var(--border)
    border-radius '%s' % Elements.Card.CORNER_RADIUS

@media Breakpoint.SMALL
  .table__data
    background var(--background)

th
td
  padding '%s %s' % (Elements.Table.PADDING_Y Elements.Table.PADDING_X)

  @media Breakpoint.LARGE
    padding '%s %s' % (Elements.Table.PADDING_Y Elements.Table.PADDING_X_LARGE)

  &:first-child
    text-align left
    padding-left GRID_GAP

    @media Breakpoint.SMALL
      padding-left '%s' % Elements.Table.PADDING_X

  &:last-child
    padding-right GRID_GAP

    @media Breakpoint.SMALL
      padding-right '%s' % Elements.Table.PADDING_X

  &.balance
    padding-right GRID_GAP

    @media Breakpoint.SMALL
      padding-right '%s' % Elements.Table.PADDING_X

tr:first-child
  border-bottom 1px solid var(--border)

tr:nth-child(even)
  background var(--zebra-stripe)

td.growth::after
td.deposits::before
td.interest::before
td.balance::before
  color var(--symbol)

td.growth::after
  content '%'
  margin-left px_to_em(4)

.year
  padding-right 0

.growth
.interest
  display none

  @media Breakpoint.SMALL
    display table-cell

.rotate-screen
  color var(--symbol)
  display none
  font-size '%s' % FontSize.Base.SMALLPRINT
  margin px_to_rem(12) GRID_GAP 0

  @media screen and (max-width BREAKPOINT_SMALL_UNITS) and (orientation portrait)
    display block

.rotate-screen span
  color var(--text)
