.table
  box-sizing border-box
  grid-column 1 / 4
  grid-row 4 / span 1
  height auto
  justify-self stretch
  margin 0
  opacity 1
  overflow-x auto
  overflow-y hidden
  text-align center
  transition 'height %s ease-out, opacity %s ease-out' % (Transition.DRAWER Transition.DEFAULT)

  @media Breakpoint.SMALL
    grid-column 2 / span 1

  @media Breakpoint.MEDIUM
    grid-row 3 / span 1
    height auto !important // always display table
    opacity 1

  @media Breakpoint.LARGE
    grid-column 3 / 4
    grid-row 2 / span 1
    justify-self stretch
    padding 0

.table[data-hidden]
  display none

.table[data-expanded]
  @media Breakpoint.SMALL
    margin-top px_to_rem(16)

  @media Breakpoint.MEDIUM
    margin-top 0

.table__frame
  overflow-x auto

  @media Breakpoint.SMALL
    border-radius '%s' % Elements.Card.CORNER_RADIUS

th
td
  padding '%s %s' % (Elements.Table.PADDING_Y Elements.Table.PADDING_X)

  @media Breakpoint.LARGE
    padding '%s %s' % (Elements.Table.PADDING_Y Elements.Table.PADDING_X_LARGE)

  &:first-child
    text-align left
    padding-left '%s' % Grid.Base.COLUMN_GAP

    @media Breakpoint.SMALL
      padding-left '%s' % Elements.Table.PADDING_X

  &:last-child
    padding-right '%s' % Grid.Base.COLUMN_GAP

    @media Breakpoint.SMALL
      padding-right '%s' % Elements.Table.PADDING_X

  &.balance
    padding-right '%s' % Grid.Base.COLUMN_GAP

    @media Breakpoint.SMALL
      padding-right '%s' % Elements.Table.PADDING_X

td.growth::after
  content '%'
  margin-left px_to_em(4)

.year
  padding-right 0

.growth
.interest
  display none

  @media Breakpoint.SMALL
    display table-cell

.rotate-screen
  display none
  font-size px_to_rem(12)
  margin px_to_rem(12) '%s' 0 %Grid.Base.COLUMN_GAP

  @media screen and (max-width: Breakpoint.SMALL_UNITS) and (orientation: portrait)
    display block
