// @type Hash
Theming = {
  light: {
    BACKGROUND: white
    BORDER: mix(black, white, 15%)
    CANVAS: mix(black, white, 2%)
    INPUT: black
    INPUT_BORDER: mix(black, white, 15%)
    SYMBOL: rgba(black, .5)
    TEXT: rgba(black, .8)
    ZEBRA_STRIPE: mix(black, white, 3%)
  },
  sepia: {
    BACKGROUND: Color.Themes.SEPIA
    BORDER: '%s' % mix(black, Color.Themes.SEPIA, 15%)
    CANVAS: '%s' % mix(black, Color.Themes.SEPIA, 5%)
    INPUT: '%s' % mix(black, Color.Themes.SEPIA, 90%)
    INPUT_BORDER: '%s' % mix(black, Color.Themes.SEPIA, 30%)
    SYMBOL: '%s' % mix(black, Color.Themes.SEPIA, 50%)
    TEXT: '%s' % mix(black, Color.Themes.SEPIA, 80%)
    ZEBRA_STRIPE: '%s' % mix(black, Color.Themes.SEPIA, 4%)
  },
  dark: {
    BACKGROUND: Color.Themes.DARK
    BORDER: mix(black, white, 75%)
    CANVAS: '%s' % mix(black, Color.Themes.DARK, 25%)
    INPUT: rgba(white, .85)
    INPUT_BORDER: mix(black, white, 65%)
    SYMBOL: rgba(white, .5)
    TEXT: rgba(white, .7)
    ZEBRA_STRIPE: '%s' % mix(black, Color.Themes.DARK, 10%)
  }
}

for name, theme in Theming
  [data-theme=\"{name}\"]
    {body}&
      background '%s' % theme.BACKGROUND
      color '%s' % theme.TEXT

    .values__input
      border-bottom 2px solid '%s' % theme.INPUT_BORDER

    .values__input:not(:focus)
      color '%s' % theme.INPUT

    .table__frame
    tr:first-child
      border-bottom 1px solid '%s' % theme.BORDER

    tr:nth-child(even)
      background '%s' % theme.ZEBRA_STRIPE

    td.growth::after
    td.deposits::before
    td.interest::before
    td.balance::before
    .rotate-screen
      color '%s' % theme.SYMBOL

    .rotate-screen span
      color '%s' % theme.TEXT

    .footer
      background '%s' % theme.ZEBRA_STRIPE
      border-top 1px solid '%s' % theme.BORDER
      color '%s' % theme.SYMBOL 
    
    .footer__copyright > a
      link(theme.SYMBOL, theme.SYMBOL, theme.TEXT, theme.TEXT)

    @media Breakpoint.SMALL
      {body}&
        background '%s' % theme.CANVAS

      .values
      .table__data
        background '%s' % theme.BACKGROUND

      .values
      .table__frame
        border 1px solid '%s' % theme.BORDER
