.toggle
  align-self center
  grid-column 2
  grid-row 5
  justify-self center
  transition margin var(--transition) ease

  @media Breakpoint.MEDIUM
    display none !important // hide the button since we don't need it

.toggle__button
  align-items center
  appearance none
  background var(--color-green)
  body_font()
  border 2px solid var(--color-green)
  border-radius '%s' % (Elements.Button.HEIGHT / 2)
  color white
  display inline-flex
  font-size px_to_em(14)
  font_weight(600)
  height '%s' % Elements.Button.HEIGHT
  justify-content center
  line-height 1
  opacity 1
  padding 0 px_to_rem(12) 0 0 // adjust for toggle arrow
  transition opacity var(--transition), visibility var(--transition)
  visibility visibile
  width 50vw
  white-space nowrap

  @media Breakpoint.SMALL
    width 33vw

.toggle__button[data-hidden]
  opacity 0
  visibility hidden

[no-touch] .toggle__button
  transition border var(--transition) ease, color var(--transition) ease, opacity var(--transition) ease

.toggle__button:focus
.toggle__button:active
[no-touch] .toggle__button:hover
  background 0
  color var(--color-green)
  cursor pointer

.toggle__button::before
  css_triangle(white, ARROW_TOGGLE, 'down')
  content ''
  display inline-block
  margin-right px_to_rem(8)
  transition transform var(--transition-slow)

.toggle__button[data-target=visible]::before
  transform rotate(-180deg)

.toggle__button:focus::before
.toggle__button:active::before
[no-touch] .toggle__button:hover::before
  border-top-color var(--color-green)
