.values
  align-self center
  display flex
  flex-direction column
  justify-content center
  grid-column 2 / 3
  grid-row 3 / span 1
  justify-self stretch
  overflow hidden
  padding '%s' % Elements.Card.PADDING

  @media Breakpoints.SMALL
    align-self start
    border-radius '%s' % Elements.Card.CORNER_RADIUS

  @media Breakpoints.MEDIUM
    grid-row 2 / span 1

  @media Breakpoints.LARGE
    grid-column 2 / span 1
    position sticky
    top '%s' % (Elements.Header.HEIGHT.Medium + Grid.Medium.ROW_GAP)
    transition '%s %s %s' % (top Transitions.DEFAULT ease)

@media Breakpoints.LARGE
  .header.unpinned ~ .values
    top '%s' % Grid.Base.ROW_GAP

.values__list
  list-style none
  margin 0 auto
  padding 0

  @media Breakpoints.SMALL
    display flex
    flex-wrap wrap

  @media Breakpoints.LARGE
    display block
    margin 0

.values__item
  align-items center
  display flex
  justify-content space-between
  margin 0 0 px_to_rem(16)

  @media Breakpoints.SMALL
    flex 0 0 50%

#compounds
  display none

@media Breakpoints.SMALL
  #principal
    order 1
  #rate
    order 2
  #contribution
    order 3
  #periods
    order 4

.values__label
  flex 1
  line-height 1
  margin-left px_to_rem(12)
  order 2
  white-space nowrap

#rate .values__label::before
  content '% '

.values__input
  appearance none
  background 0
  body_font()
  border 0
  border-radius 0
  font-size '%s' % FontSizes.Base.INPUT
  height '%s' % Elements.Input.HEIGHT
  line-height 1
  order 1
  padding 0
  text-align right
  width '%s' % Elements.Input.WIDTH

.values__input:focus
  border-color '%s' % Colors.GREEN
  color '%s' % Colors.GREEN

.values__input:focus:invalid
  border-color '%s' % Colors.WARNING
  color '%s' % Colors.WARNING

.values__total
  color '%s' % Colors.GREEN
  font-size '%s' % FontSizes.Base.VALUES_TOTAL
  height '%s' % FontSizes.Base.VALUES_TOTAL
  line-height '%s' % FontSizes.Base.VALUES_TOTAL
  margin 0 auto
  max-width 'calc(100vw - %s)' % (2 * (Grid.Base.COLUMN_GAP + Elements.Card.PADDING))
  opacity 1
  overflow hidden
  text-align center
  text-overflow ellipsis
  transition '%s %s %s %s' % (opacity Transitions.DEFAULT visibility Transitions.DEFAULT)
  visibility visible

  &[data-hidden]
    opacity 0
    visibility hidden

  @media Breakpoints.LARGE
    margin 0
    text-align left
