:host {
  display: grid;
  gap: var(--app-gap);
  grid: var(--app-grid);
  inline-size: var(--app-inline-size, auto);
  margin-block: var(--app-margin-block);
  margin-inline: var(--app-margin-inline);
  max-inline-size: 84rem;
  place-self: var(--app-place-self);
}

/**
 * The drawer is initially invisible until there's content to display
 * in the table.
 */
interest-drawer[aria-hidden='true'] {
  opacity: 0;
  visibility: hidden;
}

/**
 * Scrollable wrapper for <table> element.
 */
.table {
  background-color: var(--fill-1);
  border: var(--table-border);
  border-radius: var(--table-border-radius, 0);
  overflow: auto hidden;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

table {
  background-color: var(--fill-1);
  border-collapse: collapse;
  font-size: .875em;
  font-variant-numeric: tabular-nums;
  inline-size: 100%;
}

/**
 * [1] All cells are end-aligned by default since they contain numeric content.
 * [2] First column, however, is start-aligned for readability.
 */
:is(th, td) {
  line-height: 1;
  padding-block: .5em;
  padding-inline: 1em;
  text-align: end;  /* [1] */
  white-space: nowrap;

  &:first-child {
    text-align: start;  /* [2] */
  }
}

:is(th, td)[data-optional] {
  display: var(--table-optional-display);
}

th {
  font-variation-settings: 'wght' 600;
  padding-block: 1em;
}

tbody > tr:nth-child(odd) {
  background-color: var(--zebra-stripe);
}

td.balance {
  color: var(--theme-color);
  font-variation-settings: 'wght' 600;
}

/**
 * Footnote after the table.
 */
.footnote {
  color: var(--text-color-variant);
  display: var(--footnote-display, block);
  font-size: .75rem;
  margin-block: 2rem 0;
  margin-inline: 1rem;
  text-align: center;  
}

.footnote > span {
  color: var(--text-color);
}
