@use '../../styles/mixins';

:host {
  display: grid;
  grid: 'drawer' 'button' 1fr;
}

[id='drawer'] {
  block-size: var(--drawer-block-size, var(--block-size));
  grid-area: drawer;
  overflow: hidden;
  transition: block-size .4s ease-out;
}

button {
  @include mixins.button;

  display: var(--drawer-button-display, grid);
  grid-area: button;
  margin: clamp(2em, 2em + 1vw, 3em);
  place-self: start center;

  slot {
    grid-area: 1 / 1;
  }
}
