:host {
  display: grid;
  grid: 'drawer' 'button' 1fr;
}

button {
  appearance: none;
  background-color: var(--button-background);
  block-size: var(--button-size);
  border: var(--outline-size) solid var(--button-background);
  border-radius: var(--button-size);
  color: inherit;
  cursor: pointer;
  display: var(--drawer-button-display, grid);
  font-family: var(--font-family);
  font-size: var(--button-font-size);
  font-variation-settings: 'wght' var(--button-font-weight);
  grid-area: button;
  margin: clamp(2em, 2em + 1vw, 3em);
  outline: 0;
  padding-block: 0;
  padding-inline: var(--button-padding);
  place-content: center;
  place-self: start center;
  transition: transform var(--transition);
  white-space: nowrap;

  &:focus-visible {
    background-color: var(--button-background-focus);
    border-color: var(--outline);
  }

  &.touch {
    transform: scale(.8);
  }

  @media (any-hover: hover) {
    transition: background-color var(--transition), border-color var(--transition), transform var(--transition);

    &:hover {
      background-color: var(--button-background-focus);
      border-color: var(--button-background-focus);
    }

    &:active {
      transform: scale(.8);
    }
  }

  slot {
    grid-area: 1 / 1;
  }
}

/**
 * Drawer element that wraps contains a <slot> and opens/closes on small screens
 * when the button is clicked.
 */
[id='drawer'] {
  block-size: var(--drawer-block-size, var(--block-size));
  grid-area: drawer;
  overflow: hidden;
  transition: block-size .4s ease-out;
}
