:host {
  background-color: var(--fill-1);
  border: var(--values-border);
  border-radius: var(--values-border-radius);
  display: grid;
  gap: 1em;
  grid: 'title widget' var(--header-size) 'values values' 'total total' 6em / 1fr var(--button-size);
  inset-block: var(--values-inset-block, 0);
  overflow: hidden;
  padding-block: 0 var(--gap);
  padding-inline: var(--gap);
  place-self: var(--values-place-self);
  position: var(--values-position, static);
}

/**
 * The name of the app.
 */
h1 {
  align-self: center;
  font-size: 1.125em;
  grid-area: title;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/**
 * General layout rules for the form and its list containing input fields.
 */
:is(form, ul) {
  grid: auto-flow / 1fr;
}

:is(form, ul, li, .total) {
  display: grid;
}

:is(ul, li) {
  gap: .75em;
}

/**
 * Everything is within a <form> for accessing native form APIs.
 */
form {
  align-self: center;
  gap: 2em 0;
  grid-area: values;
}

/**
 * List containing items with input fields.
 */
[role='list'] {
  grid: var(--values-list-grid);
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  grid: 'input label' / auto 1fr;
  place-items: center start;
}

label {
  grid-area: label;
  opacity: .7;
  pointer-events: none;
  white-space: nowrap;

  &[for='rate']::before {
    content: '% ';
  }
}

/**
 * Text input fields for user-provided values.
 */
input {
  appearance: none;
  background-color: var(--fill-2);
  block-size: 2em;
  border: var(--outline-size) solid var(--fill-1);
  border-radius: .5em;
  box-sizing: content-box;
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 1em;
  font-variation-settings: 'wght' 500;
  grid-area: input;
  inline-size: 5em;
  justify-self: end;
  line-height: 1;
  margin: 0;
  outline: 0;
  padding-inline: .5em;
  text-align: end;

  &:focus-visible {
    border-color: var(--outline);
  }

  &:invalid {
    color: var(--warning-color);
  }
}

/**
 * The grand total based on user-provided values.
 */
.total {
  color: var(--theme-color);
  font-size: 2.75em;
  grid-area: total;
  inline-size: 100%;
  line-height: 1;
  overflow: scroll hidden;
  padding-inline: var(--gap);
  place-self: center;
  scrollbar-width: none;
  text-align: center;
  transition: opacity var(--transition);

  &::-webkit-scrollbar {
    display: none;
  }
}

/**
 * The total and the currency widget are invisible until there is content
 * displayed in the table based on user-provided values.
 */
[aria-hidden='true'] {
  opacity: 0;
  visibility: hidden;
}

/**
 * The widget containing currency options to choose from.
 */
interest-currency {
  grid-area: widget;
  transition: opacity var(--transition);
}
