.content
  display grid
  grid-column 1 / 4
  grid-row 2
  grid-template-rows minmax(auto, 1fr) auto (button-height * 2)
  margin 0 auto
  max-width content-width-large
  padding 0 env(safe-area-inset-right) 0 env(safe-area-inset-left)
  width 100%

  @media breakpoint.small
    grid-column 2
    grid-gap var(--grid-gap)
    grid-template-rows auto 1fr

  @media breakpoint.large
    grid-template-columns values-grid-width 1fr
