Currencies = {
  eur: '€'
  gbp: '£'
  inr: '₹'
  usd: '$'
  yen: '¥'
}

for name, value in Currencies
  [currency={name}]
    user-values .total:not(:empty)
    td.deposits
    td.interest
    td.balance
      &::before
        content value
        margin-right em(4)
