footer
  align-items center
  color var(--text)
  display flex
  font-size var(--fineprint)
  grid-column 2
  grid-row 3
  height var(--footer-height)
  justify-content center
  padding 0 0 env(safe-area-inset-bottom)

footer > span
  margin-right em(8)

footer > a
  link(var(--text), var(--text), var(--symbol), var(--symbol))

  &:focus
  [no-touch] &:hover
    transition color transition

footer > a:not(:first-of-type)::before
  content '·'
  display inline-block
  text-align center
  width 1rem
