main
  display grid
  grid-column 1 / 4
  grid-row 2
  grid-template-areas 'values'\
                      'table'\
                      'expandable'
  grid-template-rows minmax(auto, 1fr) auto (button-height * 2)
  margin 0 auto
  max-width content-width-large
  padding 0 env(safe-area-inset-right) 0 env(safe-area-inset-left)
  width 100%

  @media breakpoint.small
    grid-column 2
    grid-gap var(--grid-gap)

  @media breakpoint.large
    grid-template-areas 'values table'
    grid-template-columns values-grid-width 1fr
    grid-template-rows auto

[no-js] main
  align-self center
  grid-column 2
  grid-row 2
  grid-template-columns 1fr !important
  grid-template-rows 1fr !important
  text-align center
