@import 'functions'

// -----------------------------------------------------------------------------
// Theme colors.

// @const String
DARK_THEME = #282c35

// @const String
SEPIA_THEME = #f8f2e3

// -----------------------------------------------------------------------------
// General colors.

// @const String
DARK_GREY = #222

// @const String
LIGHT_GREY = #aaa

// @const String
LIGHTER_GREY = #ddd

// @const String
OFF_WHITE = #f7f7f7

// @const String
GREEN = #00ad45

// @const String
WARNING = #c00

// -----------------------------------------------------------------------------
// Dimensions.

// @const String
BUTTON_HEIGHT = rem(40)

// @const String
BUTTON_ROW_HEIGHT = rem(96)

// @const String
CARD_PADDING = rem(24)

// @const String
CORNER_RADIUS_CARD = rem(8)

// @const String
GRID_GAP = rem(16)

// @const String
GRID_GAP_MEDIUM = rem(24)

// @const String
MENU_ARROW = rem(16)

// @const String
MENU_ITEM_SIZE = rem(40)

// @const String
TABLE_MAX_WIDTH = rem(640)

// @const String
VALUES_MAX_WIDTH = rem(240)

// -----------------------------------------------------------------------------
// Calculated constants and breakpoints.

// @type String
VALUES_GRID_WIDTH = VALUES_MAX_WIDTH + (2 * CARD_PADDING)

// @type String
CONTENT_WIDTH_LARGE = (VALUES_MAX_WIDTH + (2 * CARD_PADDING)) + TABLE_MAX_WIDTH + GRID_GAP_MEDIUM

// @type String
BREAKPOINT_SMALL_UNITS = rem(420)

// @type Hash
Breakpoint = {
  SMALL:  'screen and (min-width: %s)' % BREAKPOINT_SMALL_UNITS
  MEDIUM: 'screen and (min-width: %s)' % (TABLE_MAX_WIDTH + (GRID_GAP_MEDIUM * 2))
  LARGE:  'screen and (min-width: %s)' % (CONTENT_WIDTH_LARGE + (GRID_GAP_MEDIUM * 2))
}
