user-values
  align-self center
  display flex
  flex-direction column
  justify-content center
  overflow hidden
  padding card-padding

  @media breakpoint.small
    align-self start
    background var(--background)
    border 1px solid var(--border)
    border-radius card-corner-radius
    margin-top var(--grid-gap)

  @media breakpoint.large
    position sticky
    top calc(var(--sticky-offset) + var(--grid-gap))

user-values > ul
  list-style none
  margin 0 auto
  padding 0

  @media breakpoint.small
    display flex
    flex-wrap wrap

  @media breakpoint.large
    display block
    margin 0

user-values li
  align-items center
  display flex
  margin 0 0 rem(16)

  @media breakpoint.small
    flex 0 0 50%

@media breakpoint.small
  #principal
    order 1
  #rate
    order 2
  #contribution
    order 3
  #periods
    order 4

user-values label
  flex 1
  line-height 1
  margin-left rem(8)
  order 2
  white-space nowrap

#rate user-values label::before
  content '% '

user-values input
  webfont()
  border-bottom 2px solid var(--input-border)
  border-top 2px solid transparent
  border-radius 0
  font-size var(--input)
  height rem(32)
  line-height 1
  order 1
  padding 0
  text-align right
  width rem(88)

  &:focus
    border-bottom-color brand-color
    color brand-color

  &:focus:invalid
    border-bottom-color warning-color
    color warning-color

  &:not(:focus)
    color var(--input)

user-values > .total
  color brand-color
  font-size values-total-size
  height values-total-size
  line-height values-total-size
  margin 1rem auto 0
  max-width 'calc(100vw - %s)' % (2 * (grid-gap + card-padding))
  opacity 1
  overflow hidden
  text-align center
  text-overflow ellipsis
  transition opacity transition, visibility transition
  visibility visible

  @media breakpoint.large
    margin .5rem 0 0
    text-align left

user-values > .total[empty]
  opacity 0
  visibility hidden

[currency] user-values > .total:not(:empty)::before
  color inherit

[no-js] user-values
  display none
