:host {
  position: relative;
  place-self: center end;
}

* {
  box-sizing: border-box;
}

// Reset default element styles.
button,
input {
  appearance: none;
  background: 0;
  border: 0;
  color: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
}

button {
  background-color: var(--fill-2);
  block-size: var(--button-size);
  border: var(--outline-size) solid transparent;
  border-radius: var(--button-size);
  cursor: pointer;
  display: grid;
  font-size: 1.5rem;
  inline-size: var(--button-size);
  outline: 0;
  place-items: center;
  transition: transform var(--transition);

  &:focus-visible {
    border-color: var(--outline);
  }

  &[aria-expanded='true'] {
    background-color: var(--fill-3);
  }

  &.touch {
    transform: scale(.8);
  }

  @media (any-hover: hover) {
    transition: background-color var(--transition), color var(--transition), transform var(--transition);

    &:hover,
    &[aria-expanded='true']:hover {
      background-color: var(--fill-3);
      border-color: transparent;
    }

    &:active {
      transform: scale(.8);
    }
  }
}

// Currency menu.
dialog {
  background-color: var(--fill-2);
  block-size: 0;
  border: 0;
  border-radius: .5rem;
  display: block;
  margin-block: .5rem 0;
  overflow: hidden;
  padding: 0;
  transform: translateX(calc(-100% + var(--button-size)));
  transition: opacity var(--transition);
}

dialog[open] {
  block-size: auto;
  opacity: 1;
}

dialog,
dialog[data-closing] {
  opacity: 0;
}

ul {
  list-style: none;
  margin-block: .5rem;
  padding: 0;
}

label {
  align-items: center;
  block-size: 2.75rem;
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  padding-inline: .25rem 1.5rem;

  &:focus-visible {
    background-color: var(--fill-3);
  }

  &[data-checked] {
    color: var(--theme);
    background-color: var(--fill-3);
  }

  @media (any-hover: hover) {
    transition: background-color var(--transition);

    &:hover {
      background-color: var(--fill-3);
    }
  }
}

input {
  inline-size: 0;
}

span {
  white-space: nowrap;
}

.symbol {
  display: inline-grid;
  font-size: 1.5rem;
  inline-size: 2.5rem;
  place-content: center;
}
